
/*  Sensible/opinionated defaults
    ======================================================================== */

/*  Apply a natural box layout model to all elements
    http://paulirish.com/2012/box-sizing-border-box-ftw/
    ======================================================================== */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*  Responsive images
    ======================================================================== */

img {
    max-width: 100%;
    height: auto;

    .lt-ie9 {
        width: auto;
    }

} // img

/*  Antialiased type
    ======================================================================== */

.antialiased {
    -webkit-font-smoothing: antialiased;
}

/* ==========================================================================
   From HTML5Boilerplate
   http://html5boilerplate.com/
   ========================================================================== */

html {
    font-size: $base-font-size;
    font-size: $base-font-size / 16 + rem;
    @include rem('line-height', 1.5);
}

body {
    @include rem('font-size', 1);
    @include rem('line-height', 1.5);
}

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*  Old clearfix
    The micro method
    ======================================================================== */

.clearfix {
   zoom: 1;
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

/*   ==========================================================================
    Stubbornella clearfix method
    https://github.com/stubbornella/oocss/blob/master/oocss/src/components/utils/_clearfix-me.scss
    ========================================================================== */

// set default clearfix method to overflow
$clearfix-method: overflow !default;

%clearfix-overflow {
  overflow: hidden;
  *overflow: visible;
  zoom: 1;
}

%clearfix-facebook {
  display: table-cell;
  vertical-align: top;
  width: 10000px !important;
  *display: block;
  //<=IE7
  *zoom: 1;
  //<=IE7
  *width: auto !important;
  //<=IE7
}

%clearfix-micro {
  zoom: 1;
  //@include has-layout;
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

// mixin flavor to override Compass' version which uses the overflow method
// https://github.com/stubbornella/oocss/blob/master/oocss/src/components/utils/_clearfix-me.scss
@mixin clearfix( $method: $clearfix-method ) {
    @if $method != overflow and $method != facebook and $method != micro {
        @warn "The clearfix method #{$method}" is unknown;
        @extend %clearfix-micro;
    } @else {
        @extend %clearfix-#{$method};
    }
}

/*  Unselectable
    ======================================================================== */

.disable-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }


    a,
    a:visited {
        text-decoration: underline;
    }

    .button:after, .print a:after, .widget-social li a:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after, .wp-caption a:after, .img:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
