
/*	Module: article
		
		======================================================================== */

.article {
	position: relative;
	@include rem('padding', 1);

	@include min-width ( $iPadPortrait ) {
		@include rem('padding', 2, 0, 2, 3);
	}

	@media print {
		padding: 0;
	}

} // .article

.article__header {

	.sharing {
		position: absolute;
		top: 0;
		right: 0;
		@include rem('padding', 1);
		
		ul {
			display: inline-block;
			margin: 0;
			padding: 0;
			list-style: none;
		}

		li {
			display: inline-block;
		}

		a {
			text-decoration: none;
			color: $dark-widget;
		}

		i {
			@include font-size(16);
		}

		span {
			@extend .visuallyhidden;
		}

	} // .sharing

	.article__title {
		margin-top: 0;
		@include rem('padding-bottom', 1);
		@include serif;
		@include font-size(24);
		@include line-height(30);
		font-weight: 400;
		border-bottom: 2px solid $border;

		@include min-width ( $iPadPortrait ) {
			@include font-size(36);
			@include line-height(48);
		}

		a {
			text-decoration: none;
			color: $text;
		}

		br {
			display: none;
		}

	} // .article__title

} // .article__header

.article__content {
    @extend .clearfix;

	h1 {
		@include serif;
		@include font-size(24);
		@include line-height(30);
		font-weight: 400;

		@include min-width ( $iPadPortrait ) {
			@include font-size(36);
			@include line-height(48);
		}

	} // h1

	h2 {
		@include serif;
		@include font-size(18);
		@include line-height(24);
		font-weight: 400;

		@include min-width ( $iPadPortrait ) {
			@include font-size(24);
			@include line-height(30);
		}

	} // h2

	h3 {
		@include serif;
		@include font-size(16);
		@include line-height(24);
		font-weight: 400;

		@include min-width ( $iPadPortrait ) {
			@include font-size(18);
			@include line-height(24);
		}

	} // h3

	h4 {
		@include font-size(14);
		@include line-height(24);
		text-transform: uppercase;
	}

	hr {
		height: 2px;
		border: none;
		background: $border;
	}

	blockquote {
		@include rem('margin', 1, 2);

	} // blockquote

	// tables
	table {
		width: 100%;

		th,
		td {
			@include rem('padding', 0.25, 0.25, 0.25, 0.5);
			text-align: left;
		}

		th {
			background: #D9D9D9;
			border-bottom: 1px solid #d0d0d0;
		}

		tbody th {
			background: #eee;
			font-weight: 400;
			border: none;
		}

	} // table

	// definition lists
	dl {

		dt {
			font-weight: 800;
		}

		dd {
			@include rem('margin-bottom', 0.5);
		}

	} // dl

	// lists
	ul ul,
	ul ol,
	ol ol,
	ol ul {
		margin-bottom: 0;
	}

	// responsive elements
	// make sure elements with WP-added height and width attributes are scaled correctly
	img,
	img.size-small,
	img.size-medium,
	img.size-full,
	img.size-large,
	img.wp-post-image
	img[class*="align"],
	img[class*="wp-image-"],
	img[class*="attachment-"],
	.wp-caption,
	.twitter-tweet-rendered {
		max-width: 100% !important;
		height: auto !important;
	}

	embed,
	object,
	iframe,
	video {
		max-width: 100%;
	}

	// alignment
	.alignleft {
		float: left;
	}

	.alignright {
		float: right;
	}

	.aligncenter {
		display: block;
		margin-right: auto;
		margin-left: auto;
	}

	// margins
	img.alignleft,
	.wp-caption.alignleft {
		@include rem('margin', 0, 1, 1, 0);
	}

	img.alignright,
	.wp-caption.alignright {
		@include rem('margin', 0, 0, 1, 1);
	}

	// captions
	.wp-caption {
		margin: 0;
		padding: 0;
		//width: auto !important;
		color: #fff;
		box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
		background-color: $bg-dk;

		.wp-caption-text {
			@include rem('margin', 0.25, 1, 0.5, 1);
			@include font-size(12);
			color: $text-very-lt;
			text-align: left;
		}

		img {
			margin: 0;
			padding: 0;
		}

	} // .wp-caption

} // .article__content

.article__meta {
	@include font-size(12);
	color: $text-lt;
	
	text-align: right;

	.article__categories {
		display: inline-block;

		ul {
			display: inline-block;
			margin: 0;
			padding: 0;
			list-style: none;
		}

		li {
			display: inline-block;
		}

	} // .article__categories


} // .article__meta

.article__footer {

} // .article__footer