
/*	Module: article
		
		======================================================================== */

.article {
	position: relative;
	@include rem('padding', 1);

	@include min-width ( $iPadPortrait ) {
		@include rem('padding', 2, 0, 2, 3);
	}

	@media print {
		padding: 0;
	}

	// Inline section navigation
	.section-toc {
		background: #eee;
		border: 1px solid #d0d0d0;
		margin-bottom: 1em;
		padding: 20px;

		h2 {
			margin-bottom: 5px;
			margin-top: 0;
			padding-top: 0;
		}
		ul {
			margin-bottom: 0;
		}

	}

} // .article

.article__header {

	.article__title {
		margin-top: 0;
		@include rem('padding-bottom', 1);
		@include serif;
		@include font-size(24);
		@include line-height(30);
		font-weight: 400;
		border-bottom: 2px solid $border;

		@include min-width ( $iPadPortrait ) {
			@include font-size(36);
			@include line-height(48);
		}

		a {
			text-decoration: none;
			color: $text;
		}

		br {
			display: none;
		}

	} // .article__title
	
	.article__meta {
		.post-info {
			text-transform:uppercase;
			letter-spacing:.1em;
			font-weight:600;
			color:#888;
			vertical-align: middle;
			text-decoration:none;
			@include font-size(11);
			@include rem('margin', 0, 0, .5, 0);
			color: $text-lt;

			
		}
		
		a:hover {
		color: #8458BE!important;
		}

		.article__categories {
			@include rem('margin', 0, 0, 0, 0);
			@include rem('padding', 0, 0, 0, 0);
			display: block;
			@include min-width ( $iPadLandscape ) {
				border-left: solid 1px #666;
				display: inline-block;
				@include rem('margin', 0, 0, 0, .3);
				@include rem('padding', 0, 0, 0, .3);
				line-height: .75rem;
			}
			
			line-height: 1.25rem;
			list-style: none;

			li {
				display: inline-block;
				@include rem('margin', 0, 0, 0, 0);
				@include min-width ( $iPadLandscape ) {
					@include rem('margin', 0, 0, 0, .35);
				}
				&:after {
					content: ",";
				}
			&:last-child {
				&:after {
					content: "";
				}
			}
			a {
				text-decoration: none;
			}

			} //li

		} // .article__categories

	} // .article__meta

} // .article__header

.article__content {
    @extend .clearfix;

	h1 {
		@include serif;
		@include font-size(24);
		@include line-height(30);
		font-weight: 400;

		@include min-width ( $iPadPortrait ) {
			@include font-size(36);
			@include line-height(48);
		}

	} // h1

	h2 {
		@include serif;
		@include font-size(18);
		@include line-height(24);
		font-weight: 400;
        margin-bottom: 1rem;

		@include min-width ( $iPadPortrait ) {
			@include font-size(24);
			@include line-height(30);
		}

	} // h2

	h3 {
		@include serif;
		@include font-size(16);
		@include line-height(24);
        margin-bottom: 1rem;
		font-weight: 400;

		@include min-width ( $iPadPortrait ) {
			@include font-size(18);
			@include line-height(24);
		}

		.contact-title & {
			margin-bottom: 0;
		}

	} // h3

	h4 {
		@include font-size(14);
		@include line-height(24);
		text-transform: uppercase;
	}

	hr {
		height: 2px;
		border: none;
		background: $border;
		width: 100%;
        margin-bottom: 1.5rem;
	}

	blockquote {
		@include rem('margin', 1, 2);

	} // blockquote

	// tables
	table {
		width: 100%;

		th,
		td {
			@include rem('padding', 0.25, 0.25, 0.25, 0.5);
			text-align: left;
		}

		th {
			background: #D9D9D9;
			border-bottom: 1px solid #d0d0d0;
		}

		tbody th {
			background: #eee;
			font-weight: 400;
			border: none;
		}

	} // table

	// definition lists
	dl {

		dt {
			font-weight: 800;
		}

		dd {
			@include rem('margin-bottom', 0.5);
		}

	} // dl

	// lists
	ul ul,
	ul ol,
	ol ol,
	ol ul {
        margin-bottom: 0;
	}
    
    // blockquote
    blockquote {
        margin: 0rem 0rem .5rem 0rem;
        padding: 1rem 1.5rem!important;
        border-left: 0px!important;
        background: #eee;
        border-top: 2px solid $border;
        border-bottom: 2px solid $border;
        width: 40%;
        overflow: hidden;
        &.cc-blockquote-left {
            float: left;
            margin-right: 1rem;
        }
        &.cc-blockquote-right {
            float: right;
            margin-left: 1rem;
        }


        @include max-width( $iPadPortrait ) {
            margin: .5rem 0rem !important;
            width: 100%;
            float: none !important;
            clear: both;
        }

        p {
            margin: 0!important;
            text-transform: none;
            color: #000000!important;
            font-size: 1.2rem;
            line-height: 1.7rem;
        }
    }

    .gallery {
        margin-bottom: 2rem!important;
        padding-top: 1rem;
        background: #eee;
        border-top: 1px solid $border;
    }
    
    .gallery-item {
        @include max-width ( $iPadPortrait ) {
            .gallery-caption {
                display: none;
            }
        }
    }

	embed,
	object,
	iframe,
	video {
		max-width: 100%;
	}

	// alignment
	.alignleft {
		float: left;
	}

	.alignright {
		float: right;
	}

	.aligncenter {
		display: block;
		margin-right: auto;
		margin-left: auto;
	}

	// margins
	img.alignleft,
	.wp-caption.alignleft {
		@include rem('margin', 0, 1, 1, 0);
	}

	img.alignright,
	.wp-caption.alignright {
		@include rem('margin', 0, 0, 1, 1);
	}

	// captions
	.wp-caption {
		margin: 0;
		@include rem('padding-bottom', .1);
		//width: auto !important;
		color: #fff;
		box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
		background-color: $bg-dk;
		
		.source {
			background-color: rgba(0,0,0,.5);
			color: #fff;
			text-align: right;
			//font-style: italic;
			text-transform: uppercase;
			letter-spacing: .1em;
			width: 100%;
			position: relative;
			@include font-size(8);
			@include rem('margin-top', -1.8);
			@include rem('padding', 0, 1);
			
			a {
				color: white;
				text-decoration: none;
			}
			
			a:hover {
				color: #8458BE!important;
			}
			
			@media print{
				@include rem('margin-top', .5);
				text-align: left;
			}
		}

		.wp-caption-text {
			@include rem('margin', 0.25, 1, 0.5, 1);
			@include font-size(12);
			color: $text-very-lt;
			text-align: left;
		}

		img {
			margin: 0;
			padding: 0;
		}

	} // .wp-caption
    
    // accordion
    .accordion-title {
       background: #eee;
        padding: 1rem 2rem 1rem 1rem;
        position: relative;
        
        &:hover {
            cursor: pointer;
            cursor: hand;
            background: #d9d9d9;
            &:after {
                color: $accent;
            }
        }
        &:after {
            content: "\e028";
            float: right;
            font-family: "icomoon";
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            text-transform: none;
            line-height: 1;
            font-size: 1.5rem;
            -webkit-font-smoothing: antialiased;
            display: inline-block;
            text-decoration: inherit;
            position: absolute;
            right: 1.5rem;
            top: 50%;
            transform: translateY(-50%) rotate(-90deg);
        }
        &.open:after {
            content: "\e028";
            transform: translateY(-50%) rotate(90deg);
        }
    }
    
    .accordion-content {
        margin-bottom: 1.5rem;
    }


	// news index thumbnails

	.coenv-thumb {
		@include min-width ( $iPadPortrait ) {
			float: right;
			margin: 0 0 1rem 1rem;
		}
		padding: 0;
		width: auto;
	} // .coenv-thumb

} // .article__content


.article__footer {

} // .article__footer
