
/*	Module: button
		======================================================================== */

.button {
	display: inline-block;
	vertical-align: middle;
	@include rem('padding', 0.25, 1);
	@include sans;
	@include font-size(12);
	font-weight: 400;
	background: #333;
	background: rgba(0,0,0,0.3);
	text-decoration: none;
	color: #fff;
	//@include border-radius( $radius );
	border-radius: $radius;

	&:hover {
		background: rgba(0,0,0,0.6);
		color: #fff !important;
	}

} // .button

.article__content {
	
	.button {
		background: $white-button;
		text-decoration: none;
		color: $text;
		
		&:hover {
                background: $bg-dk;
            }
		
	} // .button
	
} // .post-type-post