//Contact Page Styles

.contact {
	height: 130px;
	position: relative;
	@include rem('margin-bottom', 1.6);
	overflow: hidden;
	
	@include min-width ( $iPadLandscape ) {
		display: inline-table;
		width: 49%;
		@include rem('margin-right', .3)
	}
	
		}
.contact-info {
	margin-left: 130px;
	@include max-width ( $iPadLandscape ) {
		@include rem('padding-right', .6);
	}
	
	.contact-title {
		position: absolute;
		bottom: 60%;
		@include rem('padding-left', 1);
	}
	
	h4 {
		font-size: 70%!important;
		line-height: normal!important;
	}
	
	ul {
		position: absolute;
		bottom: 13px;
		width: 100%;
		@include max-width ( $iPadLandscape ) {
			bottom: 0!important;
		}
	}
}