//Contact Page Styles

.contact {
	height: 130px;
	position: relative;
	@include rem('margin-bottom', 1.6);
	overflow: hidden;
	
	@media print {
		page-break-inside: avoid;
	}
	
	@include min-width ( $iPadLandscape ) {
		display: inline-block;
		width: 49%;
		@include rem('margin-right', .3)
	}
	
		}
.contact-info {
	margin-left: 130px;
	@include max-width ( $iPhoneLandscape ) {
		@include rem('padding-right', .6);
		h3 {
			font-size: 90%!important;
		}
	}
	
	.contact-title {
		position: absolute;
		bottom: 60%;
		@include rem('padding-left', 1);
		@include max-width ( $iPadLandscape ) {
			bottom: 50%!important;
		}
	}
	
	h4 {
		font-size: 70%!important;
		line-height: normal!important;
		@include max-width ( $iPhoneLandscape ) {
			font-size: 60%!important;
		}
	}
	
	ul {
		position: absolute;
		bottom: 0px;
		width: 100%;
		@include max-width ( $iPadLandscape ) {
			bottom: 0!important;
			@include rem ('padding', .5, 0, .5, 1);
			
			li {
				font-size: 80%!important;
			}
		}
	}
}