/*	==========================================================================
	Faculty selector

	Only for small screens
	========================================================================== */

.Faculty-selector {
	width: 100%;
	@include rem('padding', 1, 0, 2);
	@include font-size(18);
	line-height: 1.5;
	text-align: center;

	@include min-width ( $bp-2 ) {

		// hide for wider screens (but only if javascript is on)
		.js & {
			display: none;
		}

	}

	select {
		width: 100%;

		@include min-width ( $iPadPortrait ) {
			width: auto;
		}
	}
}