/*	==========================================================================
	Faculty toolbox

	Only for wider screens
	========================================================================== */

.Faculty-toolbox {
	@extend .antialiased;
	position: relative;
	z-index: 9999;
	display: none;

	@include min-width ( $bp-2 ) {
		display: block;
		margin-right: -1px;
	}
}

.Faculty-toolbox-inner {
	background: #303030;
}

.Faculty-toolbox-header {

}

.Faculty-toolbox-title {
	display: table;
	margin: 0;
	width: 100%;
	border-bottom: 1px solid $border-dk;

	a {
		display: table-cell;
		@include serif;
		@include font-size(36);
		line-height: 1.5;
		font-weight: 200;
		color: #fff;

		&:hover {
			background: $accent;
			color: #fff !important;
		}
	}

	.Faculty-toolbox-title-link {
		@include rem('padding-left', 1);
		text-decoration: none;
		color: #fff;
		border-right: 1px solid $border-dk;
	}

	.Faculty-toolbox-search-button {
		@include rem('padding', 0, 0.25);
		text-decoration: none;
		text-align: center;
		color: #fff;
		border-left: 1px solid $border-dk-accent;

		i {
			@include font-size(24);
		}

		span {
			@extend .visuallyhidden;
		}
	}
}

.Faculty-toolbox-content {
	position: relative;
	padding-top: 80%;
	border-top: 1px solid $border-dk-accent;
	border-bottom: 1px solid $border-dk;
	overflow: hidden;
}

.Faculty-toolbox-roller {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	@include rem('padding', 1);
	width: 100%;
	transition: left 0.25s ease-in-out;

	.Faculty-toolbox--show-form & {
		left: -100%;	
	}
}

.Faculty-toolbox-roller-header {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	height: 15%;
}

.Faculty-toolbox-roller-header-inner {
	display: table;
	width: 100%;
	height: 100%;
}

.Faculty-toolbox-roller-header-title {
	display: table-cell;
	vertical-align: middle;
	@include rem('padding', 0, 1);

	span {
		display: block;
		@include font-size(11);
		line-height: 1;
		text-transform: uppercase;
		font-weight: 800;
		color: #999;
	}
}

.Faculty-toolbox-roller-content {
	position: absolute;
	right: 0;
	left: 0;
	bottom: 0;
	height: 85%;
}

.Faculty-toolbox-roller-items {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	@include rem('margin', 0, 1, 1);
	padding: 0;
	list-style: none;
	overflow-y: scroll;
	border-radius: 4px;
	background: #555;

	.js & {
		overflow: hidden;
	}
}

.js .Faculty-toolbox-roller-items-inner {
	position: relative;
	transition: transform 0.25s ease-in-out;
}

.js .Faculty-toolbox-roller-items-set {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
}

.Faculty-toolbox-roller-item {
	@include font-size(16);
	line-height: 2;
	font-weight: 400;
	white-space: nowrap;
	//border-bottom: 1px solid rgba(0,0,0,0.075);

	li:last-child  {
		border-radius: 4px;
	}

	a {
		display: block;
		@include rem('padding', 0, 1);
		text-decoration: none;
		color: #fff;
	}

	a:hover {
		background: #888;
		color: #fff !important;
	}
}

.Faculty-toolbox-roller-item--active a {
	background: $accent;

	&:hover {
		background: $accent;
	}
}

.Faculty-toolbox-form {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 100%;
	width: 100%;
}

.Faculty-toolbox-theme-select {

}

.Faculty-toolbox-unit-select {

}

.Faculty-toolbox-footer {
	border-top: 1px solid $border-dk-accent;
	color: #fff;
}

.Faculty-toolbox-feedback {
	display: table;
	@include rem('padding', 0.3, 1);
	width: 100%;
}

.Faculty-toolbox-feedback-number {
	display: table-cell;
	vertical-align: top;
	@include font-size(36);
	line-height: 1;
	font-weight: 600;
}

.Faculty-toolbox-feedback-message {
	display: table-cell;
	@include rem('padding-left', 0.5);
	vertical-align: top;
	@include font-size(12);
	line-height: 1.5;
	font-weight: 600;
	color: #aaa;

	a {
		text-decoration: none;
		font-style: italic;
		color: #fff;
	}

	a:hover {
		color: #fff !important;
		text-decoration: underline;
	}
}

.Faculty-toolbox-toggle {
display: none;
//	position: absolute;
//	right: 0;
//	bottom: 0;
//	left: 0;
//	display: table;
//	width: 100%;
//	height: 10%;
	border-top: 1px solid $border-dk;
//	overflow: hidden;
}

.Faculty-toolbox-toggle-inner {
	display: table-cell;
	vertical-align: middle;
	border-top: 1px solid $border-dk-accent;

	a {
		display: inline-block;
		@include rem('padding', 1, 1);
		width: 100%;
		@include font-size(12);
		line-height: 1;
		font-weight: 600;
		color: #fff;
		text-decoration: none;
	}

	a:hover {
		color: #fff !important;
		background: $accent;
	}

}