.improve {
    display: block;
    min-width: 290px;
    padding: 1.5rem;
    background-color: #eee;
    position:relative;
    width: 100%;
    margin-bottom: 1rem;
    @include min-width ( $iPadPortrait ) {
        float: right;
        min-width: 290px;
        width: 40%;
        margin: 0 1.5rem;
    }
    @include min-width ( $iPadLandscape ) {
        min-width: inherit;
        padding: 1.5rem 1.5rem .5rem 1.5rem;
        margin: 0;
    }
    .mascot {
        position:absolute;
        bottom:0;
        right:1.5rem;   
    }
    a.button {
        float: left!important;
        height: 33px;
        font-size: 1.2rem!important;
        margin-top: 1rem;
        margin-left: 0!important;
        padding-top: .4rem;
        cursor: pointer;
        text-transform: initial;
        color: white!important;
        background-color: #613ba9;
    }
}

.improve-left {
    @include min-width ( $iPadLandscape ) {
        padding: 1.5rem 2rem 0 0;
        width: 60%;
        display: block;
        float: left;
    }
}