
/*	Mobile menu
		(for skinnier viewports)
		This element is a cloned version of .main-menu.normal-menu (via menu.js)
		======================================================================== */

#show-menu button {
    outline: none;
    min-width: 50px;
    height: 110%;
}

.close-mobile {
    display: none;
    cursor: pointer;
}

.mobile-menu-active {
    .main-menu.mobile-menu {
        position: absolute!important;
    }
    #show-menu, #logo, .site-header #logo a, .site-header {
        background-color: $accent-lt!important;
    }
    #show-menu button {
        color: $white;
        
        &:hover {
            color: $white-button!important;
        }
        
        &:before {
            content: "\e028";
            @include font-size(24);
            color: $white;
        }
        
        span {
            @extend .visuallyhidden;
            display: none;
        }
    }
}

.main-menu.mobile-menu {
	display: block;
	position: fixed;
	z-index: 0;
	right: 0;
	//bottom: 0;
	width: 80%;
	//height: 100%;
	overflow-y: scroll;
	background: #303030;
	//transition: all 0.25s ease;

	@include min-width ( $iPadLandscape ) {
		display: none !important;
	}

	@media print {
		display: none !important;
	}

	.mobile-menu-active & {
		bottom: 0;
		height: 100%;
	}

	// all <ul>s
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	// all <li>s
	li {
		@include font-size(16);
	}

	// all <a>s
	a {
		display: block;
		@include rem('padding', 1);
		color: #ddd;
		text-decoration: none;

		&:hover{
			background: $accent-dk;
			color: $white !important;
		}

	} // a

	// top level items
	.page-depth-0 {
		@include font-size(14);
		text-transform: uppercase;
		letter-spacing: 0.1em;
		font-weight: 600;

		&:hover span > a {
			background: $accent-dk;
			color: #fff;
		}

		i {
			@extend .icon-arrow-right;
			color: #888;
		}
        
        &.expanded > span > a {
            background: $accent!important;
			color: $white !important;   
        }

		&.expanded i {
			@extend .icon-arrow-down;
		}

	} // .page-depth-0
    
    .close-mobile {
        width: 23%;
        height: calc(0.25rem + 19vw);
        max-height: 110px;
        color: $white;
        float: right;
        border-bottom: 1px solid #3d3d3d;
        text-align: center;
        display: inline-block;
        vertical-align: top;

        i {
            font-size: 2.5rem;
            position: relative;
            margin-left: -1rem;
            top: 30%;
        }
        
    }

	.search-form {
		display: inline-block;
        vertical-align: top;
		width: 75%;
        height: calc(0.25rem + 19vw);
        max-height: 110px;
		border-bottom: 1px solid #3d3d3d;
        padding: 0 1rem;
        
		.field-wrap {
			display: block;
			width: 100%;
            top: 29%;
            position: relative;
		}

		input[type="text"] {
			width: 85%;
			background: #666;
			color: #eee;
            height: 2.5rem;
            font-size: 1rem;

			@include placeholder {
				color: #eee;
			}

		} // input[type="text"]

		button[type="submit"] {
			width: 15%;
			background: #666;
			border-left: none;
			color: #eee;
            height: 2.5rem;
		}
        i {
            font-size: 1.7rem;
            margin-left: -1rem;
        }

	} // .search-form

	.nav-main__menu {
		border-top: 1px solid #222;
		border-bottom: 1px solid #3d3d3d;
        @include rem('padding', 1, 0, 1, 0);
	}
    
	// top menu (appended via menu.js)
	.top-menu.mobile-top-menu {
		border-top: 1px solid #222;
        @include rem('padding', 1, 0, 1, 0);

        li.give a {
            background: $accent-red;
            border-radius: $radius;
            color: #fff;
            @include rem('margin', 1, 1, 0, 1);
            @include rem('padding', 1, 1, 1, 1);

            i {
                position: absolute;
                margin-top: -4px;
                right: 2rem;
                font-size: 1.7rem;
            }

        } // li.give a

        li.give a:hover {
            background: darken( $accent-red, 10% );
        }
        
        li {
			@include font-size(12);
			@include line-height(14);
		}
        
        a {
            @include rem('padding', 1, 2, 1, 2);
        }
            
		.search-form {
			display: none;
		}



	} // .top-menu.mobile-top-menu


} // .main-menu.mobile-menu

/*	Mobile menu drop down items
		======================================================================== */

.main-menu.mobile-menu .page-depth-0  {
	position: relative;

	@media print {
		display: none !important;
	}

	&:hover span > a {
		background: none;
		color: #ddd;
	}

	span > a:hover {
		background: $accent;
		color: #fff;
	}

	&.menu-item-active,
	&.current_page_item,
	&.current-page-ancestor {

		> span > a {
			background: $accent;
			color: #fff;

			i {
				//@extend .icon-arrow-down;
			}

		} // > span > a

		.children {
			display: block;

		} // .children

	} // current or ancestor
    
	.children {
		display: none;

		.children {
			display: none !important;
		}

		li.menu-item-subheader .children {
			display: block !important;
			@include rem('padding-left', 1);

		} // li.menu-item-subheader .children

		li {
			@include font-size(13);
			@include line-height(16);
			text-transform: none;
			letter-spacing: 0;
			font-weight: 400;
		}

		a {
			display: block;
			@include rem('padding', 1, 1, 1, 2.5);
			color: #ddd;
		}

		li.current_page_item > a {
			background: $accent;
			color: #fff;
		}

		ul.children {
			@include rem('padding-left', 1);
		}

	} // .children

} // .main-menu.mobile-menu .page-depth-0

// disable hover for touch devices
.touch .main-menu.mobile-menu {

	a:hover {
		background: none !important;
		color: #ddd !important;
	}

	.menu-item-active > a,
	.current_page_item > a {
		background: $accent !important;
		color: #fff !important;
	}

} // .touch .main-menu.mobile-menu

/*	Normal menu
		For wider viewports
		======================================================================== */

.main-menu.normal-menu {
	position: relative;
	display: none;

	@include min-width ( $iPadLandscape ) {
		display: block;
	}

	@media print {
		display: none;
	}

	// all <ul>s
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	// all <li>s
	li {
		@include font-size(14);
        
        .current_page_item > a {
			background: $accent;
			color: #fff;
        }
    }


	// all <a>s
	a {
		display: block;
		color: $text;
		text-decoration: none;

		&:hover {
			background: $accent-dk;
			color: #fff !important;
		}

	} // a

	// menu <ul>
	#menu-main {
		width: 100%;
		margin-left: 9.25rem; //one W offset for the logo

		// top level items
		.page-depth-0 {
			position: relative;
			height: auto;
			@include font-size(12);
			@include line-height(13);
			@include encode_sb();
			text-transform: uppercase;
			letter-spacing: 0.1em;
			font-weight: 600;
			color: $accent;
			display: inline-block;
			
            @include min-width ( 1080 ) {
                @include font-size(13);
            }


			&:hover span > a {
				background: $accent-lt;
				color: #fff;
				border-color: transparent;
			}
            

			// injected with Main_Nav_Walker class
			// helps with item borders and vertical centering
			span {
				width: 100%;
				height: 33px;

			} // span

			span > a {
				position: relative;
				vertical-align: middle;
				color: $accent-dk;
               	padding: 1rem;
                border-bottom: 1px solid $border;

				@include min-width ( $iPadLandscape ) {
					border-bottom: none;

					&:after {
						content: "";
						display: block;
						position: absolute;
						top: 8px;
						right: 0;
						bottom: 8px;
						width: 1px;
						height: calc(100% - 16px);
						background: $border;
					}

				} // min-width: $iPadLandscape

			} // span > a

			&:hover span > a:after {
				display: none;
			}

			&:nth-last-child(-n + 2) a:after {
				display: none;
			}
            
            &:first-child {
                span > a:before {
                    left: 80%!important; // arrow for about
                }
            }

			&.current_page_ancestor span > a,
			&.current_page_item span > a,
			&.current_page_parent span > a,
			&.current-menu-item span > a {

                background-color: $accent-lt;
				color: #fff;

				&:after {
					display: none;
				}

			} // &.current-page-ancestor a

			&.page-item-118 {
				right: 0;
				position: absolute;
				& > span a:before {
					content: "♥";
					display: inline-block;
					position: relative;
					right: .35rem;
					bottom: 0;
					font-size: 1rem;
					transform: scaleX(1.25);
				}
				.children {
					right: 0;
				}
			}

		} // .page-depth-0

	} // #menu-main

	.search-form {
		display: none;

	} // .search-form

} // .main-menu.normal-menu

/*	Normal menu drop down items
		======================================================================== */

.main-menu.normal-menu .page-depth-0  {
	position: relative;

	.submenu-container {
		position: relative;
        
	}

	&.menu-item-active .children {
		display: block;

		.children {
			display: none;
		}

	} // &.menu-item-active .children

	&.menu-item-active > span > a {
		background-color: $accent-lt!important;
	}
    

	// assistive triangle elements to enable moving cursor at an
	// angle from title to dropdown
	&.menu-item-active .submenu-container:before {
		display: block;
		content: "";
		position: absolute;
		bottom: 0;
		right: 100%;
		width: 0;
		height: 0;
		border-bottom: 40px solid transparent;
		border-left: 40px solid transparent;
	}

	.children {
		display: none;
		position: absolute;
		z-index: 999;
		min-width: 225px;
		background: $accent;
        
        ul {
            border-top: 0px;
			padding: 0 1rem;
        }

		// top level page titles
		.pagenav {
            display: none;
		} // .pagenav

		li {
			@include font-size(14);
			@include line-height(16);
			@include encode_sb();
			text-transform: uppercase;
			letter-spacing: 0;
			border-bottom: 2px solid $accent-dk;
			&:last-child {
				border-bottom: none;
			}

		} // li

		.children {
			position: relative;
			background: none;
		}

		a {
			@include rem('padding', .75, 1.25, .75, 2);
			color: white;

			&:hover {
				background: $accent-dk;
				position: relative;
				&:before {
					content: "";
					display: block;
					position: absolute;
					top: 0;
					left: 0;
					bottom: 0;
					width: 5px;
					background: $accent-yellow;
				}
			}

		} // a

	} // .children

} // .main-menu.normal-menu .page-depth-0
