
/*	Template: menu_top
		Site-wide tippity-top menu
		======================================================================== */

#top-nav {
	display: none;
	@include rem('padding', 0.3, 0, 0.1);
	text-align: right;
	background: $bg-dk;
	opacity: 1;
	@extend .hide-on-banner-reveal;

	@include min-width ( $iPadPortrait ) {
		display: block;
	}

	// all <ul>s
	ul {
		display: inline-block;
		vertical-align: top;
		margin: 0;
		padding: 0;
		list-style: none;
	}

	// all <li>s
	li {
		display: inline-block;
		vertical-align: top;
	}

	// all <a>s
	a {
		@extend .button;
		vertical-align: top;
		@include font-size(10);
		@include rem('padding', 0.05, 0.5);
		background: none;
		color: #ddd;
		font-weight: 600;
		text-transform: uppercase;
		letter-spacing: 0.1em;

		i {
			@include rem('margin-right', 0.25);
		}

	} // a

	a:hover {
		background: #666;
		color: #fff !important;
	}

	#menu-university {
		float: left;

	} // #menu-university

	#menu-top {
		float: left;

		@include min-width ( $iPadPortrait ) {
			float: none;
		}

		li.current-menu-item a,
		li.current_page_item a,
		li.current_page_parent a {
			background: $accent-hover;
			color: #fff !important;
		}

	} // #menu-top

	#menu-buttons {

		li.give a {
			background: $accent-red;
			color: #fff;
		}

		li.give a:hover {
			background: darken( $accent-red, 10% );
		}

	} // #menu-buttons

	form {
		display: inline-block;
		padding: 0;
		vertical-align: top;

		.field-wrap {
			vertical-align: top;
		}

		input[type="text"],
		button[type="submit"] {
			//@include rem('padding', 0.2, 0.5);
			@include rem('height', 1.6);
			vertical-align: middle;
		}

		input[type="text"] {
			//width: 85%;
			@include font-size(12);
			background: #666;
			color: #fff;
			@include placeholder {
				color: #eee;
			}
		}

		button[type="submit"] {
			//width: 15%;
			background: #666;

			i {
				@include font-size(16);
				color: #eee;
			}

			&:hover i {
				color: #fff;
			}

		} // button[type="submit"]

	} // form

} // #top-nav