
/*	Pagination
		======================================================================== */

.pagination {

	ul {
		@include rem('margin', 1, 0, 1, 1);
		@include rem('padding', 1);
		background: #fff;
		list-style: none;
		text-align: center;
	}

	li, span {
		display: inline-block;
	}

	li .current, span.current{
		@extend .button;
		background: $accent!important;
        color: white!important;
        margin-bottom: .4rem;
        margin-right: .25rem;
	}

	a {
		@extend .button;
		text-decoration: none;
		color: $text;
		background-color: $white-button;
	}
	
	@media print {
			display: none;
	}

} // .pagination