.element-slider_gallery { //slider galleries
    position: relative;
    margin-top: 0.5rem;
    min-height: 60vw;
    margin-bottom: 2rem;
    text-align: center;
    
    .rsOverflow {
        min-height: 60vw;
        @include max-width ( 800 ) {
            overflow: visible;
        }
    }
    
    .rsSlide {
        @include max-width ( 800 ) {
            overflow: visible;
        }
    }
    
    @include min-width ( 1600 ) {
        min-height: 20vw;
        .rsOverflow {
            min-height: 20vw;
        }
    }
    
    @include max-width ( 800 ) {
        margin-bottom: 4rem;
    }
    
    .rsArrow {
        display: block;
        .rsArrowIcn {
            background: none;
            height: 56px;
            width: 56px;
            color: white;
            &:hover {
                background: $accent;
                color: white;
            }
        }
        .rsArrowIcn:before {
            font-family: icomoon;
            speak: none;
            font-style: normal;
            font-size: 55px;
            font-weight: 400;
            font-variant: normal;
            text-transform: none;
            line-height: 1;
            -webkit-font-smoothing: antialiased;
            content: "\e028";
            padding-right: 4px;
        }
        &.rsArrowRight {
            float: right;
            transform: scaleX(-1);
            filter: FlipH;
            -ms-filter: "FlipH";
            right: 0px;
        }
    }
    
    .rsBullets {
        position: absolute;
        bottom: 0;
        bottom: 40px;
        width: 100%;
        background: none;
        height: 3rem;
        overflow: visible;
        @include max-width ( 800 ) {
            height: 2rem;
        }
        @include max-width ( 600 ) {
            display: none!important;
        }
        
        
        .rsBullet {
            height: 2rem;
            width: 2rem;
            display: inline-block;
            
            span {
                height: 1rem;
                width: 1rem;
                transition: all .1s ease;
                @extend .shadow;
            }
            &:hover {
                cursor: pointer;
            }
            &:hover, &.rsNavSelected {
                span {
                    @include rem('width', 1.5);
                    @include rem('height', 1.5);
                    margin-top: -4px;
                    margin-left: -4px;
                }
            }

        } // rsBullet

      } // .features-nav
    
    .caption-wrapper {
        width: 100%;
        position: absolute;
        display: table;
        text-align: center;
        background-color: white;
        bottom: 0px;
        padding-top: 5px;
        @include max-width ( 800 ) {
            margin-bottom: -4rem;
        }
    }
    
    .specialCaption {
        font-style: italic;
        color: #666;
        margin-top: 1rem;
        float: inherit;
        width: 100%;
        margin: 0 auto;
        max-width: 1000px;
        font-size: 12px;
        padding-left: 1rem;
        padding-right: 1rem;
        min-height: 3rem;
        @include max-width ( 800 ) {
            width: calc(100% - 4rem);
            margin: 0 2rem;
            padding: 0;
        }
        @include min-width ( 1300 ) {
            max-width: 1200px;
            padding-left: 12rem;
        }
    }
    
    .rsGCaption {
        display: none;
    }
}