/*	Link widget styles (for Newsletter Archive)
		======================================================================== */
		
.widget-link {

	.link {
		background: #fff;
		list-style: none;
		margin-bottom: 0;
		padding-left: 0;
		@extend .shadow;
		@include min-width( $iPadPortrait ) {
		}

		// wraps entire event contents
		a {
			display: block;
			text-transform: uppercase;
			letter-spacing: 0.1em;
			color: $text;
			text-decoration: none;
			@include font-size(11);
			@include rem('padding', 1);
			
			&:hover {
				color: #fff !important;
				background: $accent;
                i {
                    color: #fff !important;
                }
			}
			
			i {
				display: inline;
                color: $dark-widget;
				@include font-size(16);
				@include line-height(28);
				@include rem('vertical-align', -.2);
			}
		}

		header {

			h1 {
				margin: 0;
				@include font-size(14);
				@include line-height(24);
				font-weight: 600;
			}

		} // header

	} // .link 

} // .widget-link