
/*	Widgets
		======================================================================== */

.widget, .article__content .widget{
	@extend .clearfix;
	@include rem('padding-bottom', 1);

	& > header {
		@include rem('margin-bottom', 0.5);

		@include min-width ( $iPadPortrait ) {
			@include rem('margin-bottom', 1);			
		}

		h2 {
			position: relative;
			z-index: 0;
			margin: 0;
			@include font-size(16);
			@include line-height(24);
			font-weight: 400;
			color: $text-lt;

			span {
				@include rem('padding-right', 0.5);
				background: url( $images-path + 'bg-wave-cut.png' );

				.page-area & {
					background: #fff;
				}
                
                a {
                        float: left;
                        text-transform: none;
                        padding-left: 0;
                        @include font-size(16);
                        @include line-height(24);
                        font-weight: 400;
                    
                } // a

			} // span

			a {
				float: right;
				@include rem('padding-left', 0.5);
				@include font-size(11);
				@include line-height(26);
				font-weight: 600;
				text-transform: uppercase;
				//letter-spacing: 0.1em;
				text-decoration: none;
				color: $text-lt;
				background: url( $images-path + 'bg-wave-cut.png' );

				.page-area & {
					background: #fff;
				}

			} // a

			&:after {
				content: "";
				display: block;
				position: absolute;
				z-index: -1;
				top: 50%;
				width: 100%;
				height: 1px;
				background: #fff;
				border-top: 1px solid $border;
				
				@media print {
					display: none;
				}
			}

		} // h1

	} // & > header

} // .widget

.main-col .widget-events, .main-col .student-ambassadors-widget, .main-col .early-explorers, .main-col .graduate-student-profiles-widget, .meet-postdoc-widget{
    background-color: $text-very-lt;
    padding: 0;
    margin-bottom: 1rem;
    @include min-width ( $iPadPortrait ) {
        float: right!important;
        width: 262px!important;
        margin: 0 0 1rem 1rem;
    }
    
    .widgettitle {
        margin: 0;
        a {
            color: $text;
            @include sans();
            text-decoration: none;
            text-transform: uppercase;
            letter-spacing: .1em;
            font-weight: 600;
            line-height: 0;
            font-size: 11px;
            display: block;
            border-bottom: 1px solid #ddd;
            padding: 1.5rem 1rem;
            &:hover {
                color: white;
            }
        }
    }
}