/*	Social widget
		======================================================================== */

.widget-social {

	ul {
		@extend .clearfix;
		margin: 0;
		padding: 0;
		list-style: none;
		@extend .shadow;
		background: #fff;
	}

	li {
		float: left;
		width: 50%;
	}

	li:nth-child(2n+0) a {
		border-right: none;
	}

	.youtube:nth-last-child(-n+2) a {
		border-bottom: none;
	}
    
    li:last-child a {
		border-bottom: none;
	}

	a {
		display: block;
		@include rem('padding', 2);
		@include font-size(11);
		text-transform: uppercase;
		letter-spacing: 0.1em;
		text-align: center;
		border-right: 1px solid $border;
		border-bottom: 1px solid $border;
		color: $dark-widget;
		text-decoration: none;

		&:hover {
			color: #fff !important;
			background: $accent;
		}

		i {
			display: block;
			@include font-size(30);
			@include line-height(30);
		}

	} // a

} // .widget-social