/*	Events widget
		======================================================================== */
		
.widget-events {

	.event {
		@include rem('margin-bottom', 0.5);
		background: #fff;
		@extend .shadow;

		@include min-width( $iPadPortrait ) {
			@include rem('margin-bottom', 1);
		}
        
        &:hover {
            background-color: $accent;
        }

		// wraps entire event contents
		a {
			display: block;
			@include rem('padding', 1);
			text-decoration: none;
			color: $text;
			@media print {
			 	padding: 0;
			}
            &:hover {
                color: white!important;
                i {
                    color: white;
                }
            }
		}

		header {

			h1 {
				margin: 0;
				@include font-size(14);
				@include line-height(24);
				font-weight: 600;
			}

		} // header

		footer {
			@include font-size(13);

			p.date {
				margin: 0;

				i {
					@include rem('padding-right', 0.25);
				}

			} // p.date

		} // footer

	} // .event

} // .widget-events

#sidebar .widget-events {
    background-color: $text-very-lt;
    padding: 0;
    
    .widgettitle {
        margin: 0;
        a {
            color: $text;
            text-decoration: none;
            text-transform: uppercase;
            letter-spacing: .1em;
            font-weight: 600;
            line-height: 0;
            font-size: 11px;
            display: block;
            border-bottom: 1px solid #ddd;
            padding: 1.5rem 1rem;
            &:hover {
                color: white;
            }
        }
    }
    
    .event {
        border-top: 1px #ddd solid;
        background-color: transparent;
        box-shadow: none;
        margin-bottom: 0;
        &:hover{
            background-color: $accent;
        }
    }
    
}