.widget-podcast {
    .podcast-promo-container {
        background-color: white;
        @extend .shadow;
    }

    .off-season {
        .small-title {
            margin-left: 3.75rem;
            padding-bottom: .25rem;
        }
        h3 {
            padding-top: .65rem!important;
            padding-bottom: .25rem!important;
        }
        .podcast-title {
            margin-top: 0;
        }
        svg#microphone {
            top: 1rem!important;
        }
    }

    .podcast-title {
        width: 100%;
        position: relative;
        background-color: $accent;
        text-decoration: none;
        color: white;
        display: block;
        margin-top: -.5rem;

        &:hover {
            background-color: $accent-lt;
            color: white!important;
            .microphone {
                background-color: $accent;
            }
        }
        h3 {
            font-family: 'encode-sans-black';
            padding: 1rem 1rem 1rem 3.75rem;
            text-transform: uppercase;
            letter-spacing: 1px;
        }

        svg#microphone {
            position: relative;
            width: 2rem;
            height: 2rem;
            top: .75rem;
            left: .5rem;
        }

        .microphone {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            background: darken($accent, 10%);
            height: 100%;
            width: 3rem;
            float: left;
            font-size: 1.5rem;
            line-height: 1.5rem;
            margin-right: 1rem;
        }
    }
    .small-title {
        font-size: .8rem;
        text-transform: uppercase;
        font-weight: 800;
        letter-spacing: .1px;
        margin-bottom: .5rem;
    }
    .latest-episode {
        padding: 1rem;
        color: $text;
        text-decoration: none;
        display: block;
        &:hover {
            background: $accent;
            color: white!important;
        }
        h4 {
            font-size: 1rem!important;
            font-weight: 600!important;
        }
    }
}