# system files
*~
*.DS_Store
*.svn
*.cvs
*.bak
*.swp
*[Tt]humbs.db
*.Trashes

# editor generated
*.sublime-project
*.sublime-workspace

# preprocessors
*.sass-cache

# development
*config.rb
*node_modules
*components
rsync-config.json
.tmp

# built styles and scripts
assets/styles/build/*.css
assets/styles/build/*.map
assets/scripts/build/*.js
assets/scripts/build/*.map