/*	Fonts
		======================================================================== */

@mixin sans() {
  font: {
    family: "open-sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
}

@mixin serif() {
  font: {
    family: "Skolar", Georgia, serif;
  }
    text-rendering: optimizeLegibility;
}

@font-face {
	font-family: pt-serif-bold;
	src: url("../assets/fonts/PT_Serif-Web-Bold.ttf") format('truetype');  
	font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
	font-family: pt-serif-bold-italic;
	src: url("../assets/fonts/PT_Serif-Web-BoldItalic.ttf") format('truetype');  
	font-weight: 700;
  font-style: italic;  
  font-display: swap;
}