
/*	From CoEnv Currents section
		======================================================================== */


/*	Blog secondary nav
		======================================================================== */

.blog #secondary-nav {
	@extend .shadow;

	.pagenav ul a {
		background: #fff;
	}

} // .blog #secondary-nav

/*	Blog header
		======================================================================== */

#blog-header {
	@extend .shadow;
	@include rem('margin', 1);
	background: #fff;

	form {
		@extend .clearfix;
		@include rem('padding', 1);

		input[type="text"],
		button[type="submit"] {
			background: #ccc;
			color: $text;
			border: none;
		}

		input[type="text"] {
			@include placeholder {
				color: $text;
			}
		}

		button[type="submit"] {
			&:hover {
				color: #fff;
				background: #666;
			}
		}

		.input-item {
			float: left;
			@include rem('padding', 0, 1);
			width: 33.3333%;
		}

		.input-wrap,
		.chzn-container {
			width: 100% !important;
		}

	} // form

} // #blog-header

/*	Entries
		======================================================================== */

.blog {

	.entry {
		@extend .shadow;
		@include rem('margin', 1);
		@include rem('padding', 0);
		background: #fff;

		.entry-header {

			.meta {
				@include rem('padding', 0.5, 2);
				background: #eee;
				@include font-size(12);
			} // .meta

			h1 {
				margin: 0;
				@include rem('padding', 1.5, 2, 1);
				@include font-size(24);
				@include line-height(30);
			}

		} // .entry-header

		.entry-content {
			@include rem('padding', 0, 2, 1);


		} // .entry-content

	} // .entry

} // .blog

/*	Pagination
		======================================================================== */

.pagination {
	@extend .shadow;
	@include rem('margin', 2, 1);
	@include rem('padding', 2);
	background: #fff;

	ul {
		margin: 0;
		padding: 0;
		list-style: none;
		text-align: center;
	}

	li {
		display: inline-block;
	}

	li .current {
		@extend .button;
		background: $accent;
	}

	a {
		@extend .button;
		text-decoration: none;
		color: $text;
	}

} // .pagination

