form {

	input {
		@include font-size(12);
		border: none;
		background: #fff;
		@include border-radius(2px);

	} // input

	button {
		display: inline-block;
		margin: 0;
		padding: 0;
		@include font-size(12);
		border: none;
		background: $bg-dk;

	} // button

	.input-wrap {
		display: inline-block;
		padding: 0;
		font-size: 0; // remove inline-block margins

		input,
		button {
			position: relative;
			display: inline-block;
			@include rem('padding', 0.5, 0.5);
			border: none;
		}

		input[type="text"] {
			margin: 0;
			width: 80%;
			@include border-radius(2px 0 0 2px);
			@include placeholder {
				color: #eee;
			}
		}

		button[type="submit"] {
			width: 20%;
			vertical-align: top;
			@include border-radius(0 2px 2px 0);
			border-left: 1px solid #aaa;

			&:hover {
				background: $accent;
				color: $white !important;
			}

			span {
				@extend .visuallyhidden;
			}

			i {
				position: relative;
				@include rem('top', 0.2);
				@include font-size(16);
				@include line-height(0);
			}

		} // button[type="submit"]


	} // .input-wrap

} // form


/*	'Chosen' theme
		======================================================================== */

.chzn-container * {
	background: none;
}
































