@font-face {
	font-family: 'icomoon';
	src:url($fonts-path + 'icomoon.eot');
	src:url($fonts-path + 'icomoon.eot?#iefix') format('embedded-opentype'),
		url($fonts-path + 'icomoon.woff') format('woff'),
		url($fonts-path + 'icomoon.ttf') format('truetype'),
		url($fonts-path + 'icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'icomoon';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-arrow-up, .icon-arrow-right, .icon-arrow-down, .icon-arrow-left, .icon-list, .icon-icon-uw, .icon-mail, .icon-search, .icon-link, .icon-twitter, .icon-facebook, .icon-vimeo, .icon-googleplus, .icon-pinterest, .icon-flickr, .icon-instagram, .icon-dropbox, .icon-share, .icon-phone, .icon-cog, .icon-search-2, .icon-vcard, .icon-export, .icon-comment, .icon-camera, .icon-earth, .icon-rss, .icon-bars, .icon-info, .icon-shuffle, .icon-arrow-left-2, .icon-arrow-down-2, .icon-arrow-up-2, .icon-arrow-right-2, .icon-skype, .icon-youtube, .icon-heart, .icon-faculty-grid-alt-2, .icon-calendar {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-arrow-up:before {
	content: "\e000";
}
.icon-arrow-right:before {
	content: "\e001";
}
.icon-arrow-down:before {
	content: "\e002";
}
.icon-arrow-left:before {
	content: "\e003";
}
.icon-list:before {
	content: "\e006";
}
.icon-icon-uw:before {
	content: "\e010";
}
.icon-mail:before {
	content: "\e012";
}
.icon-search:before {
	content: "\e004";
}
.icon-link:before {
	content: "\e015";
}
.icon-twitter:before {
	content: "\e016";
}
.icon-facebook:before {
	content: "\e017";
}
.icon-vimeo:before {
	content: "\e018";
}
.icon-googleplus:before {
	content: "\e019";
}
.icon-pinterest:before {
	content: "\e01a";
}
.icon-flickr:before {
	content: "\e01b";
}
.icon-instagram:before {
	content: "\e01c";
}
.icon-dropbox:before {
	content: "\e01d";
}
.icon-share:before {
	content: "\e013";
}
.icon-phone:before {
	content: "\e01e";
}
.icon-cog:before {
	content: "\e00c";
}
.icon-search-2:before {
	content: "\e00d";
}
.icon-vcard:before {
	content: "\e01f";
}
.icon-export:before {
	content: "\e020";
}
.icon-comment:before {
	content: "\e022";
}
.icon-camera:before {
	content: "\e00a";
}
.icon-earth:before {
	content: "\e023";
}
.icon-rss:before {
	content: "\e024";
}
.icon-bars:before {
	content: "\e025";
}
.icon-info:before {
	content: "\e026";
}
.icon-shuffle:before {
	content: "\e027";
}
.icon-arrow-left-2:before {
	content: "\e028";
}
.icon-arrow-down-2:before {
	content: "\e029";
}
.icon-arrow-up-2:before {
	content: "\e02a";
}
.icon-arrow-right-2:before {
	content: "\e02b";
}
.icon-skype:before {
	content: "\e02c";
}
.icon-youtube:before {
	content: "\e00b";
}
.icon-heart:before {
	content: "\e007";
}
.icon-faculty-grid-alt-2:before {
	content: "\e00e";
}
.icon-calendar:before {
	content: "\e00f";
}
