
/*	Development notifications
		======================================================================== */

.dev-notifications {
	position: relative;
	@extend .antialiased;
	background: rgba(0,0,0,0.1);
	text-align: center;
	@include font-size(12);
	font-weight: 600;
	background: #aaa;

	&.hide {
		display: none;
	}

	ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}

} // .dev-notifications

/*	Main layout
		======================================================================== */

body {
	@include sans;
	color: $text;
	background: $bg-dk url(../../img/bg-wave-cut-dk.jpg) top;
	//background: blue;
}

html.mobile-menu-active {
	height: 100%;

	body,
	#outer {
		height: 100%;
	}

} // html.mobile-menu-active

#outer {
	position: relative;

	.lt-ie9 & {
		width: $max-width;
	}

} // #outer

$wrapper-translateX: 80%;
#wrapper {
	position: relative;
	z-index: 100;
	width: 100%;
	overflow-y: scroll;

	// this is here to help out decorative pseudo elements
	// that have negative right positions on single faculty pages
	// might have to remove if this causes negative effects anywhere else.
	overflow-x: hidden;
	
	background: url( $images-path + 'bg-wave-cut.png' ) top center;
	@include transition( transform 0.2s ease );
	//@include transform-style( preserve-3d );
	//@include backface-visibility( hidden );
	//@include transform( translate3d(0,0,0) );

	.lt-ie9 & {
		width: auto;
		overflow: auto;
	}

	.mobile-menu-active & {
		@include transform( translateX(-$wrapper-translateX) );
		height: 100%;
		overflow-y: hidden;
	}

//	.csstransforms & {
//
//		&.mobile-menu-active {
//			@include transform( translateX(-$wrapper-translateX) );
//			overflow-y: hidden;
//		}
//
//	} // .csstransforms

	// TODO: fix blurry text
	// http://dropshado.ws/post/6142339613/resolving-anti-aliasing-on-webkit-hardware-accelerated
//	.csstransforms3d & {
//		@include transform( translate3d(0, 0, 0) );
//
//		&.active {
//			@include transform( translate3d(-70%, 0, 0) );
//		}
//
//	} // .csstransforms3d


} // #wrapper

.container {
	@extend .clearfix;
	margin: 0 auto;
	@include rem('padding', 0, 0.5);
	max-width: ( $max-width / 1px ) + ( 2 * ( $base-font-size / 1px ) ) + px;

	@include min-width ( $iPadPortrait ) {
		@include rem('padding', 0, 1);
	}

} // .container

/*	Columns
		======================================================================== */

@mixin col-1() {
	width: 24.7169811%; // 262px at widest
}

@mixin col-2 {
	width: 49.8113208%; // 528px at widest
}

@mixin col-3 {
	width: 74.9056604%; // 794px at widest
}

/*	Top nav
		======================================================================== */

#top-nav {
	display: none;
	@include rem('padding', 0.3, 0);
	text-align: right;
	background: $bg-dk;

	@include min-width ( $iPadPortrait ) {
		display: block;
	}

	// all <ul>s
	ul {
		display: inline;
		margin: 0;
		padding: 0;
		list-style: none;
	}

	// all <li>s
	li {
		display: inline-block;
		@include font-size(10);
		font-weight: 600;
		text-transform: uppercase;
		letter-spacing: 0.1em;
	}

	// all <a>s
	a {
		@include rem('padding', 0.3, 0.5);
		text-decoration: none;
		color: #ddd;
		@include border-radius(2px);

		i {
			@include rem('margin-right', 0.25);
		}

	} // a

	a:hover {
		background: #666;
		color: #fff !important;
	}

	#menu-university {
		float: left;

	} // #menu-university

	#menu-top {
		float: left;

		@include min-width ( $iPadPortrait ) {
			float: none;
		}

		li.current-menu-item a,
		li.current_page_item a,
		li.current_page_parent a {
			background: $accent-hover;
		}

	} // #menu-top

	#menu-buttons {

		li.give a {
			background: $accent-red;
			color: #fff;
		}

		li.give a:hover {
			background: darken( $accent-red, 10% );
		}

	} // #menu-buttons

	.search-form {
		display: inline-block;
		//@include rem('margin-right', 0.25);
		margin-bottom: -3px;
		padding: 0;

		input[type="text"],
		button[type="submit"] {
			@include rem('padding', 0.2, 0.5, 0.13);
		}

		input[type="text"] {
			width: 85%;
			background: #666;
			color: #fff;
		}

		button[type="submit"] {
			width: 15%;
			background: #666;
			border-left: none;

			&:hover {
				color: #fff;
			}

		} // button[type="submit"]

	} // .search-form

} // #top-nav


/*	Main content section
		======================================================================== */

section[role="main"] {
	@extend .clearfix;
	position: relative;

	// white background 'page'
	&.page-area,
	.page-area {
		background: #fff;

	} // &.page-area

	// big title within banner area
	// place within main col if main and side cols are present
	.section-header {
display: none;
		position: absolute;
		bottom: 100%;

		h1 {
			margin: 0;
			@include rem('padding', 1);
			@include serif;
			font-weight: 400;

			.has-banner & {
				color: #fff;
				@extend .antialiased;
				background: rgba(0,0,0,0.5);
			}

		} // h1

	} // .section-header

	.main-col {

		@include min-width ( $iPadPortrait ) {
			float: right;
			@include col-3;
			//@include rem('padding-left', 2);
		}

	} // .main-col

	.side-col {
		clear: left;
		@include rem('margin-bottom', 1);

		@include min-width ( $iPadPortrait ) {
			float: left;
			@include col-1;
		}

	} // .side-col

} // section[role="main"]

/*	Links
		======================================================================== */

a {
	color: $accent-blue;

	&:hover {
		color: $accent-hover !important;
	}

} // a

/*	Buttons
		======================================================================== */

button,
.button {
	display: inline-block;
	@include rem('padding', 0.25, 1);
	@include sans;
	@include font-size(12);
	font-weight: 400;
	background: #333;
	background: rgba(0,0,0,0.3);
	@include border-radius(3px);
	text-decoration: none;
	color: #fff;

	&:hover {
		background: rgba(0,0,0,0.6);
		color: #fff !important;
	}

} // .button

/*	Widgets
		======================================================================== */

.widget {
	@extend .clearfix;
	@include rem('padding-bottom', 1);

	& > header {
		@include rem('margin-bottom', 0.5);

		@include min-width ( $iPadPortrait ) {
			@include rem('margin-bottom', 1);			
		}

		h1 {
			position: relative;
			z-index: 0;
			margin: 0;
			@include font-size(16);
			@include line-height(24);
			font-weight: 400;

			span {
				@include rem('padding-right', 0.5);
				background: url( $images-path + 'bg-wave-cut.png' );

				.page-area & {
					background: #fff;
				}

			} // span

			a {
				float: right;
				@include rem('padding-left', 0.5);
				@include font-size(11);
				@include line-height(26);
				font-weight: 600;
				text-transform: uppercase;
				//letter-spacing: 0.1em;
				text-decoration: none;
				color: #666;
				background: url( $images-path + 'bg-wave-cut.png' );

				.page-area & {
					background: #fff;
				}

			} // a

			&:after {
				content: "";
				display: block;
				position: absolute;
				z-index: -1;
				top: 50%;
				width: 100%;
				height: 1px;
				background: #fff;
				border-top: 1px solid $border;
			}

		} // h1

	} // & > header

} // .widget

/*	Events widget
		======================================================================== */


.widget-events {

	.event {
		@include rem('margin-bottom', 0.5);
		background: #fff;
		@extend .shadow;

		@include min-width( $iPadPortrait ) {
			@include rem('margin-bottom', 1);
		}

		// wraps entire event contents
		a {
			display: block;
			@include rem('padding', 1);
			text-decoration: none;
			color: $text;
		}

		header {

			h1 {
				margin: 0;
				@include font-size(14);
				@include line-height(24);
				font-weight: 600;
			}

		} // header

		footer {
			@include font-size(13);

			p.date {
				margin: 0;

				i {
					@include rem('padding-right', 0.25);
				}

			} // p.date

		} // footer

	} // .event

} // .widget-events

/*	Social widget
		======================================================================== */

.widget-social {

	ul {
		@extend .clearfix;
		margin: 0;
		padding: 0;
		list-style: none;
		@extend .shadow;
		background: #fff;
	}

	li {
		float: left;
		width: 50%;
	}

	li:nth-child(2n+0) a {
		border-right: none;
	}

	li:last-child a {
		border-bottom: none;
	}

	a {
		display: block;
		@include rem('padding', 2);
		@include font-size(11);
		text-transform: uppercase;
		letter-spacing: 0.1em;
		text-align: center;
		border-right: 1px solid $border;
		border-bottom: 1px solid $border;
		color: #888;
		text-decoration: none;

		&:hover {
			color: #fff !important;
			background: $accent;
		}

		i {
			display: block;
			@include font-size(30);
			@include line-height(30);
		}

	} // a

} // .widget-social

/*	Home page widgets
		======================================================================== */

.home .widget.featured-stories {

	@include min-width ( $maxWidthBreakpoint ) {
		float: left;
		@include col-3;
		@include rem('padding-right', 0.5);

		.stories-container {
			@include rem('margin', 0, -0.5);
		}

	} // min-width: $maxWidthBreakpoint

} // .home .widget.featured-stories

.home .widget-events {

	@include min-width ( $maxWidthBreakpoint ) {
		float: left;
		@include col-1;
		@include rem('padding-left', 0.5);
	}

} // .home .widget-events

.home .widget-social {

	@include min-width ( $maxWidthBreakpoint ) {
		float: left;
		@include col-1;
		@include rem('padding-left', 0.5);
	}

} // .home .widget-social

/*	Footer
		======================================================================== */

#footer {
	@include rem('padding', 2, 0);
	background: $bg-dk url(../../img/bg-wave-cut-dk.jpg);

	@include min-width ( $iPadPortrait ) {
		//@include rem('padding', 2, 0);
	}

	header {
		@include rem('margin-bottom', 1);

		h1 {
			position: relative;
			z-index: 0;
			margin: 0;
			@include font-size(18);
			font-weight: 400;
			color: #ccc;

			&:after {
				content: "";
				display: block;
				position: absolute;
				z-index: -1;
				top: 50%;
				width: 100%;
				height: 1px;
				background: lighten( $bg-dk, 5% );
				border-top: 1px solid darken( $bg-dk, 5% );
			}

			span {
				@include rem('padding-right', 0.5);
				background: url( $images-path + 'bg-wave-cut-dk.jpg' );
			}

		} // h1

	} // header

	#menu-footer {
		display: table;
		margin: 0;
		padding: 0;
		width: 100%;
		list-style: none;

		// all <ul>s
		ul {
			margin: 0;
			padding: 0;
			list-style: none;
		}

		// all <al>s
		a {
			color: #ccc;
			text-decoration: none;
		}

		// top-level <li>s
		> li {
			display: table-cell;
			@include rem('padding-right', 1);
			width: 20%;

			> a {
				//display: block;
				@include font-size(14);
				font-weight: 400;
				//border-bottom: 1px solid lighten( $bg-dk, 5% );
			}

		} // > li

		.sub-menu {

			li {
				@include font-size(12);
				font-weight: 400;
			}

			a {
				color: #aaa;
			}

		} // .sub-menu

	} // #menu-footer

	#bottom-links {
		@extend .clearfix;
		color: #ccc;
		@include font-size(11);
		font-weight: 600;
		text-transform: uppercase;

		a {
			text-decoration: none;
			color: #aaa;

			&:hover {
				color: #fff !important;
			}

		} // a

		.copyright {

			@include min-width ( $iPadPortrait ) {
				float: left;
			}

		} // .copyright

		#menu-bottom {
			margin: 0;
			padding: 0;
			list-style: none;

			@include min-width ( $iPadPortrait ) {
				float: right;
			}

			li {
				display: inline-block;
				@include rem('margin', 0, 0.5);

				@include min-width ( $iPadPortrait ) {
					@include rem('margin', 0, 0, 0, 1);
				}

			} // li

		} // #menu-bottom

	} // #bottom-links

} // #footer






















