@import 'compass';
@import 'config.scss';

@import 'normalize/index.scss';
@import 'elcontraption-tools/styles/tools-combined.scss';

/*	Main
		======================================================================== */

#outer {
	position: relative;
	//height: 100%;
	//width: 100%;
	background: #eee;

} // #outer

#inner {
	position: relative;
	z-index: 100;
	width: 100%;
	height: 100%;
	overflow-y: scroll;
	background: #fff;
	@include transition( all .2s ease );
	-webkit-transform: translate3d(0,0,0);
	//-webkit-backface-visibility: hidden;

	.menu-active & {
		@include transform( translateX(-70%) );
		overflow-y: hidden;
	}

} // #inner

#header {
	@include clearfix;
	display: inline-block;
	@include rem('padding', 1);
	width: 100%;

	#logo {
		float: left;
		margin: 0;
		@include font-size(36);
		@include line-height(36);
	}

	#show-menu {
		display: inline-block;
		float: right;
		@include rem('padding', 0.5);
		text-decoration: none;
		@include border-radius(4px);
		background: #eee;

		&:hover {
			background: #454564;
			color: #fff;
		}
	}

} // #header

#nav {
	display: none;
	position: fixed;
	z-index: 0;
	top: 0;
	bottom: 0;
	left: 0;
	@include rem('padding', 1);
	width: 100%;
	height: 100% !important;
	overflow-y: scroll !important;
	background: rgba(0,0,0,0.25);
	@include transition( all .3s ease );

	.menu-active & {
		@include transform( translateX(30%) );
	}

	ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}

} // #nav

#content {
	@include rem('padding', 1);

} // #content