
/*	Template: blog
		Customizations specific to the blog section
		======================================================================== */

.template-blog {

	.article {
		@extend .shadow;
		@include rem('margin', 1);
		@include rem('padding', 2);
		background: #fff;
		@media print {
			margin: 0;
			padding: 0;
		}

		@include min-width ( $iPadPortrait ) {
			@include rem('margin', 1, 0, 1, 1);
			@media print {
				margin: 0;
			}
		}

		.article_header {

			.article__meta .post-info .article__categories {
				background: #ddd;
				text-decoration: none;
				color: #333;
			}

			.article_title {
				@include font-size(30);
				@include line-height(36);
				@include rem('margin', 2, 0, 0, 0);

				@include min-width ( $iPadPortrait ) {
					@include font-size(36);
					@include line-height(48);

				}


			} // .article_title
			

		} // .article_header

	} // .article
    
} // .template-blog

.template-blog, .page-id-267, .single-intranet {

	.blog-header {
		@extend .clearfix;
		@extend .shadow;
		@include rem('margin', 1);
		background: #fff;

		@include min-width ( $iPadPortrait ) {
			@include rem('margin', 1, 0, 1, 1);
		}

		form,
		.input-item {
			float: none;
			@include rem('padding', 1);
			@include min-width ( $iPadPortrait ) {
				float: left;
				width: 33.3333%;
			}

		select {
			border: none;
			width: 100%;
			color: $text;
			// background-color: $text-very-lt;
			background-color: $white-button;
			@include rem('padding', 0.5);
			@include rem('height', 2);
			@include font-size(12);
			}
 
		}

		.field-wrap {
			width: 100% !important;
		}

		form {

			input[type="text"] {
				background: #ddd;
			}

		} // form
        
		@media print{
			display: none;
		}
		
	} // .blog-header
    
    .no-results {
        p {
            margin-bottom: 0;
        }
        h3 {
            @include serif;
            margin-bottom: .5rem;
            font-weight: 400;
        }
    }
    
    .results-text {
        border-top: solid 1px #dfdfdf;
        float: left;
        text-transform: uppercase;
        @include rem('padding', 1, 1.25);
        width: 100%;

        p {
            color: #666;
            @include font-size(11);
            float: left;
            font-weight: 600;
            letter-spacing: .1em;
            @include rem('margin', 0);
            @include rem('padding', .25, 0, 0, 0);
        }
        p.all-news {
            float: right;
            @include rem('padding', 0, 0, 0, 0);
            a.button {
                background-color: #ddd;
                color: #333;
                @include font-size(11);
            }
            a.button:hover {
                background-color: #363533;
                color: #fff;
                @include font-size(11);
                letter-spacing: 0.1em;
            }
        }

    }

	.pagination ul {
		@extend .shadow;
	}

} // .template-blog