.page-template-careers {
h1.article__title {
	margin-bottom: 0;
	border-bottom: solid 1px #ccc;
}

	a.button {
				margin-bottom: .5rem;
				margin-left: .25rem;
				font-size: .9rem;
				 text-transform: capitalize;

				 &:hover {
				 	color: #fff !important;
				 }
				 .right & {
				 	margin-bottom: 0;
				 }
			}
			.career-terms {
			padding: 1rem 0 1.25rem 0;
			}

	.careers {
		@include rem('margin', 1);
		@include rem('padding', 2);
		background: #fff;
		border-bottom: solid 1px #ddd;
		margin: 0 0 1.75rem;;
		padding: 0;
		@media print {
			margin: 0;
			padding: 0;
		}

		@include max-width ( $iPadPortrait ) {
			@include rem('margin', 1, 0, 1, 1);
			@media print {
				margin: 0;
			}
		}

		.career__title {
			@include font-size(30);
			@include line-height(36);
			@include rem('margin', 2, 0, 0, 0);

			@include min-width ( $iPadPortrait ) {
				@include font-size(36);
				@include line-height(48);

			}

		} // .career_title

	} // .article
	div.article header {
	margin-bottom: 2rem;

	}
article header.article__header {
	@media (min-width: 768px) {
	margin-bottom: 0;
	}
	}
	.article__header {
		@extend .clearfix;

		@include min-width ( $iPadPortrait ) {
			@include rem('margin', 0, 0, 0m, 0);
		}

		h2 {
		float: left;
		font-size: 1.75rem;
		line-height: 2.5rem;
		width: 100%;
		margin-bottom: .5rem;
		margin-top: .5rem;
			a {
			  color: #000;
			  
			  font-weight: normal;
			  text-decoration: none;

			  &:hover {
			  color: #000 !important;
			  text-decoration: underline;


			  }
			}
		}
		.results-text {
			float: left;
			text-transform: uppercase;
			@include rem('padding', 0);
			width: 100%;
			margin-top: .5rem;
			border-bottom: solid 1px #ccc;



			p {
				color: #666;
				@include font-size(11);
				float: left;
				font-weight: 600;

				@include rem('margin', 0);
				@include rem('padding', 0);
			}
			p.left {
								letter-spacing: .1em;	
								line-height: 2rem;	
			}
			p.right {
				float: right;
				@include rem('padding', 0, 0, 0, 0);

			}

		}

		@media print{
			display: none;
		}
		
	} // .career-header

	.pagination ul {
		//@extend .shadow;
	}

} // .template-career

// Filters

#careers-filter {
	background-color: rgb(238, 238, 238);
	h3.title {
		  //background-color: #222;
		  color: #000;
		  border-bottom: solid 1px rgb(208, 208, 208);

		  font-size: 1.25rem;
		  font-weight: normal;
		  letter-spacing: .05rem;
		  margin-top: 1rem;
		  padding: 1rem;

	}
	.filters {
	padding: 1rem;

	form .field-wrap,
	.select-category {
	margin-bottom: 1rem;
	}

	 form .field-wrap input,
	 .select-category {
	 	font-size: 14px;

	 }

	.field-wrap, form.Form--inline, .select-category {
		width: 100%;
		display: block !important;
		font-size: 14px;
	}
	select.select-category {
		font-size: 18px;
	}
	ul {
		margin-left: 0;
		padding-left: 0;
		li {
			list-style: none;
			&.cat-item {
			margin-bottom: 1rem;
			}

			ul {
			margin-left: 1rem;
			&.children {
				margin-bottom: 0;
			}
				li.cat-item	 {
				margin-bottom: 0;
				}
			}

		}
	

	}
	}
}