body.page-template-careers {

@include max-width ( $iPhoneLandscape ) {
        .article {
            margin:0;
            padding: 0;
        }
	}
    
    .type-careers {
        border-bottom: .25rem solid $text-very-lt;
        margin-bottom: 1.5rem;
        margin-top: 0rem;
        padding-left: 0rem;
        padding-bottom: 1rem;
        &:first-of-type {
            margin-top: .4rem;
        }
    }

	h1.article__title {
        margin-top: .3rem;
		margin-bottom: 0;
		border-bottom: solid 1px #ccc;
	}
	article a {
		color: #421491;
	} 
    
    .career-col {
        margin-top: 0;
        padding-top: 0;
        // min-height: 4200px;
    }
	.keywords {
		padding: .4rem 0 .5rem 0;
        margin: 0;
	}
    
    .career-intro.article__content {
        min-height: 0;
    }
	.careers {
		@include rem('padding', 2);
		background: #fff;
		border-bottom: solid 1px #ddd;
		margin: 0;
        padding: 0;
		@media print {
			margin: 0;
			padding: 0;
		}

		@include min-width ( $iPadPortrait ) {
			@include rem('margin', 1, 0, 1, 0);
			@media print {
				margin: 0;
			}
		}
		.career__title {
			@include font-size(30);
			@include line-height(36);
			@include rem('margin', 2, 0, 0, 0);
			@include min-width ( $iPadPortrait ) {
				@include font-size(36);
				@include line-height(48);
			}
		}
	} 
	div.article header {
        margin-bottom: .5rem;
	}
	article header.article__header {
		@media (min-width: 768px) {
			margin-bottom: 0;
		}
	}
	.article__header {
		.article__meta .post-info {
			color: #565656;
		}
		a.button {
			color: #000;
			margin-bottom: .4rem;
			margin-right: .25rem;
			font-size: .75rem;
			text-transform: capitalize;
			&:hover {
				color: #fff !important;
                background: #363533!important;
			}
            &.editor {
                float: right;
                margin-bottom: 1rem;
            }
			.right & {
				margin-bottom: 0;
			}
            &.parent-863 {
                display: none;
            }
            &.parent-868 {
                border-bottom: 3px solid lighten($accent-teal, 30%);
            }
            &.parent-867 {
                border-bottom: 3px solid lighten($accent, 30%);
            }
            &.parent-869 {
                display: none;
            }
            &.parent-1051 {
                border-bottom: 3px solid lighten($accent-blue, 30%);
            }
            &.parent-1052 {
                border-bottom: 3px solid lighten($accent-red, 20%);
            }
            &.parent-870 {
                border-bottom: 3px solid lighten($accent-green, 30%);
            }
		}
		@extend .clearfix;
		@include min-width ( $iPadPortrait ) {
			@include rem('margin', 0, 0, 0m, 0);
		}
		h2 {
			float: left;
			font-size: 1.65rem;
			line-height: 2rem;
			width: 100%;
			margin-bottom: .5rem;
			margin-top: 0;
			a {
				color: #333;
				font-weight: bold;
				text-decoration: none;
				&:hover {
					color: #421491 !important;
					text-decoration: none;
				}
			}
		}
        .location {
            font-size: 1.1rem;
            color: $text-lt;
            svg {
                padding-top: 4px;
                width: 12px;
            }
            svg path {
                fill: $text-lt;
            }
            a {
                text-decoration: none;
                color: $text-lt;
                &:hover svg path {
                    fill: $accent-lt;
                }
            }
        }
		.results-text {
			background-color: #eee;
			border: solid 1px #c5c5c5;
			float: left;
			margin-top: .5rem;
			padding: 8px 12px;
			text-transform: uppercase;
			width: 100%;
			a.button {
				background-color: #613ba9;
				color: #fff;
				margin-bottom: 0;
				margin-left: .25rem;
				font-size: .9rem;
				text-transform: capitalize;
				&:hover {
					color: #fff !important;
				}
				.right & {
					margin-bottom: 0;
				}
			}
			p {
				color: #474747;
				@include font-size(11);
				float: left;
				font-weight: 600;
				@include rem('margin', 0);
				@include rem('padding', 0);
			}
			p.left {
				letter-spacing: .1em;	
				line-height: 2rem;	
			}
			p.right {
				float: right;
				@include rem('padding', 0, 0, 0, 0);
			}
		}
		@media print{
			display: none;
		}
	} // .career-header

	.article .pagination li .current {
		background-color: #4b2e83;
		color: #fff;
	}
	div.container article .pagination li a {
		color: #000;
	}
} // .template-career

.sorter-search-row {
    width: 100%;
    height: 3.5rem;
    
    .subscribe {
        margin-right: 1rem;
        .button {
            font-size: 1.4rem!important;
            height: 35px;
            padding: .5rem;
            color: #000;
        }
    }
    
    .sorter {
        li, form {
            border-radius: 0 4px 4px 0;
            height: 35px;
            padding-top: .5rem;
            cursor: pointer;
            &:hover {
                color: $accent;
            }
            &.selected {
                background-color: $accent;
                color: white!important;
            }
            &:first-of-type {
                border-radius: 4px 0 0 4px!important;
                margin-right: -5px;
            }
        }
    }
    .sorter, .subscribe, .search-form {
        list-style: none;
        margin-top: -1.5rem;
        text-transform: uppercase;
		letter-spacing: .1em;
		font-weight: 600;
		text-decoration: none;
		font-size: .8rem;
		color: #666;
        ul {
            padding: 0;
            margin: 0;
        }
    } 
    
    .sorter, .subscribe {
        float: right;
    }
    
    form {
        width: calc(100% - 300px);        
        margin-bottom: 1rem;
        height: 35px;
        max-width: 580px;
        .field-wrap {
            width: 100%;
            height: 34px;
        }
        input {
            background: rgba(0,0,0,0.05);
            height: 35px;
        }
        button[type=submit] {
            max-width: 10vw;
            height: 35px;
            min-width: 35px;
            margin-right: 5px;
            border-radius: 0 4px 4px 0;
        }
    }
} // .sorter-search-row

// Filters
#results .status {
    text-transform: uppercase;
    letter-spacing: .1em;
    font-weight: 600;
    vertical-align: middle;
    text-decoration: none;
    font-size: .8rem;
    line-height: 1;
    margin: .75rem 0 .5rem;
    color: #666;
}

.status {
    margin-bottom: 1.2rem!important;
}

#results {
    min-height: 100vh;
}

.filter-crumbs {
    margin: .75rem 0;
    h3 {
        text-transform: uppercase;
		letter-spacing: .1em;
		font-weight: 600;
		vertical-align: middle;
		text-decoration: none;
		font-size: .8rem;
		line-height: 1;
		margin: 0 0 .5rem;
		color: #666;
    }
    .button {
        cursor: pointer;
        padding-left: .5rem;
        margin-right: .25rem;
        margin-bottom: .25rem;
        line-height: 2rem;
        background: rgba(0,0,0,.05);
    }
    i {
        font-size: 1.2rem;
        position: relative;
        top: 3px;
    }
}

.pagenav > a > span {
    font-size: 1rem!important;
    line-height: 1.5rem;
    margin-right: -1rem;
    display: block;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-weight: 600;
    vertical-align: middle;
    text-decoration: none;
    font-size: .8rem!important;
    line-height: 1;
    margin: 0 0 .5rem;
    color: $text-very-lt;
    @include sans();
    .dashicons {
        font-size: .8rem!important;
        vertical-align: inherit;
        height: auto;
        width: auto;
    }
}

ul.career-actions {
    padding-left: 0;
    margin-top: 1rem!important;
    li {
        display: inline;
        list-style: none;
        margin-left: 0;
        a {
            span {
                display: inline;
                font-size: 1rem;
                margin-right: .2rem;
            }
        }
    }
}

.load-more {
    cursor: pointer;
    color: $text;
}

#careers-filter {
	background-color: rgb(238, 238, 238);
    
    &.f-nav {
        z-index: 9999;
        position: fixed;
        width: 262px;
        top: 0;
        margin-bottom: 800px;
        .filters {
            max-height: 810px;
            height: 100vh;
            overflow-y: auto;
            overflow-x: hidden;
        }
    }
    
    .sorter-row {
        width: 100%;
        display: table;
    }
	h3.title {
		background-color: #000;
		color: #fff;
		border-bottom: solid 1px rgb(208, 208, 208);
		font-size: 1rem;
		font-weight: normal;
		letter-spacing: .05rem;
		padding: .5rem 1rem;
	}

	.filters {
		padding: 1rem;
        .children {
            margin-bottom: 0;
            margin-top: .5rem;
            & > .button	 {
                font-weight: normal;
                color: $text;
                background: $white-button;
                cursor: pointer;
                margin-bottom: .3rem;
                line-height: 2rem;
                margin-left: 0.03rem;

                &:hover {
                    background: #363533;
                }
            }
            .selected {
                background-color: $accent!important;
                color: white!important;
            }
        }
		ul {
			padding-left: 0;
            margin-bottom: 0;
			li {
				font-weight: 600;
				list-style: none;
				&.cat-item {
					margin-bottom: .75rem;
				}
			}
		}
	}
}

.single-careers {
	.article__content {
		h2 {
			@include sans();
		}
		a.button {
			background-color: #613ba9;
			color: #fff;
		}
	}
	.post-info {
		text-transform: uppercase;
		letter-spacing: .1em;
		font-weight: 600;
		vertical-align: middle;
		text-decoration: none;
		float: left;
		font-size: .8rem;
		line-height: 1;
		margin: .25rem 0 .5rem;
		color: #666;
		width: 70%;
	}
	.post-info span {
		margin: 0;
		padding: 0;
		float: left;
	}
	.post-info .deadline {
		border-left: solid 1px #666;
		margin-left: .8rem;
		padding-left: .8rem;
	}
	.post-info h2 {
		color: rgb(51, 51, 51);
		font-weight: 700;
		text-transform: none;
	}
	p.back {
		float: right;
		text-align: right;
		width: 30%;
	}
	.career-terms {
		float: left;
		width: 100%;
	}
	.career__content {
		float: left;
		width: 100%;
	}
}