@include min-width ( $iPadPortrait ) {
    .page-id-46142 {
        .fluid-width-video-wrapper {
            width: 60%;
            float: right;
            margin: 1rem;
            margin-bottom: -20%;
            iframe {
                height: 60%!important;
            }
        }
    }
}