

.template-featured-story {
    .article {
        padding: 0;
    }
    background: #fff;
    min-height: 500px;
    .article__title {
        font-size: 3.5rem;
        line-height: 4.25rem;
        margin: 2rem 0 5rem 0;
        border: none;
        font-weight: 200;
        letter-spacing: 1px;
        &:before {
            content: '';
            display: block;
            width: 5rem;
            border-top: .25rem solid #666;
            position: absolute;
            bottom: -1.5rem;
        }
        &:after {
            content: '';
            display: block;
            position: absolute;
            width: 7rem;
            border-top: .25rem solid #666;
            transform: skewX(-15deg);
            bottom: -1.5rem;
            left: 30px;
        }
    }
    
    .article__header {
        margin-bottom: 2rem;
    }
    .intro {
        font-size: 1.8rem;
        line-height: 150%;
    }
    h2 {
        margin-bottom: 3rem;
        line-height: 150%;
        position: relative;
        &:before {
            content: '';
            display: block;
            width: 3rem;
            border-top: .25rem solid #666;
            position: absolute;
            bottom: -1.5rem;
        }
        &:after {
            content: '';
            display: block;
            position: absolute;
            width: 4rem;
            border-top: .25rem solid #666;
            transform: skewX(-15deg);
            bottom: -1.5rem;
            left: 1px;
        }
    }
    .main-col {
        margin: auto;
        width: 100%!important;
        .article__content, .article__header {
            max-width: 640px!important;
            padding: 0 2rem;
            margin: auto;
            position: relative;
            @include min-width ( 1020 ) {
                width: 50%;
            }
        }
        .article__content > p:not(.intro) {
            font-size: 1.1rem;
            line-height: 2rem;
            margin-bottom: 2.5rem;
        }
    }
    .article__content .element-wrapper, .article__content > .element {
        position: relative;
        @include min-width ( 1020 ) {
            position: absolute;
            &.right {
                margin: auto;
                right: -253px;     
            }
            &.left {
                margin-left: calc(-253px - 2rem);
            }
        }
        
    }
    .element-wrapper .element:nth-child(even) {
        margin-top: 1rem;
        &:before {
            content: '';
            display: block;
            width: 3rem;
            border-top: .25rem solid #666;
            position: absolute;
            top: -1.5rem;
        }
        &:after {
            content: '';
            display: block;
            position: absolute;
            width: 4rem;
            border-top: .25rem solid #666;
            transform: skewX(-15deg);
            top: -1.5rem;
            left: 1px;
        }
    }
    .element-wrapper .element {
        position: relative;
    }
    .element {
        max-width: 253px; 
        @include min-width ( 1020 ) {
            max-width: 253px;    
        }
        @include max-width ( 1020 ) {
            padding-right: 1rem;
        }
        padding-bottom: 2rem;
        .title {
            margin: .5rem 0 0;
            font-size: 1.5rem;
            &:before, &:after {
                display: none;
            }
        }
        .subtitle {
            font-size: .8em;
            font-weight: 600;
            margin: 0;
            @include sans();
            letter-spacing: .1px;
            text-transform: uppercase;
        }
        p {
            margin-bottom: 1rem;
        }
        &.element-gallery {
            a {
                display: none;
                &:first-of-type {
                    display: block;
                }
            }
        }
    }
    
    .quote {
        position: absolute;
        display: block;
        font-size: 4rem;
        margin-top: 2.5rem;
        left: -.5rem;
        color: #888;
    }
    
    .feat-quote {
        @include serif();
        font-size: 1.8rem;
        line-height: 150%;
        margin: 3rem 0 4rem 0;
        font-weight: 200;
        color: #777;
        position: relative;
        &:before {
            content: '';
            display: block;
            width: 3rem;
            border-top: .25rem solid #777;
            position: absolute;
            bottom: -1.5rem;
        }
        &:after {
            content: '';
            display: block;
            position: absolute;
            width: 5rem;
            border-top: .25rem solid #777;
            transform: skewX(-15deg);
            bottom: -1.5rem;
            left: 1px;
        }
    }
    
    .article__content .wp-caption {
        box-shadow: none;
        background: none;
        font-style: italic;
        margin-bottom: 2rem;
        .wp-caption-text {
            color: #666;
            margin-left: 0;
            margin-top: .5rem;
        }
    }
    
    .photo-divider { 
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 1rem 0;
        height: 40vh; 
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}