/*	Footer
		======================================================================== */

.site-footer {
	@extend .clearfix;
	@include rem('padding', 2, 0, 2, 0);
	background: $bg-dk;
	@include font-size(12);
    
    @media print {
        padding-bottom: 0;
    }

	a:hover {
		color: #fff !important;
	}
    
    .right-college {
        @include min-width ( $iPadPortrait ) {
            @include col-2;
            float: right;
            @include rem('padding-left', 2.85);
        }
        @media print {
            display: none;
        }
    }
    
    .left-college {
        @include min-width ( $iPadPortrait ) {
            @include col-2;
        }
        @include rem('margin-bottom', 1);
    }
    
    .logo-headers {
        border-bottom: 1px solid darken( $bg-dk, 5% );
        @include rem('margin-bottom', 1);
        &:after {
            content: "";
            display: block;
            z-index: -1;
            top: 50%;
            width: 100%;
            height: 1px;
            background: lighten( $bg-dk, 5% );

        }
    }
	
    .site-footer__header {

		@media print {
			display: none;
		}        

		h1 {
            display: none;
			position: relative;
			z-index: 0;
			margin: 0;
			@include font-size(18);
			font-weight: 400;
			color: #ccc;
            
            @include min-width ( $iPadPortrait ) {
                display: block;
            }

		} // h1

	} // header

	.footer-nav {

		@include min-width ( $iPadPortrait ) {
			float: right;
			@include col-2;
			@include rem('padding-left', 3);
		}

		@media print {
			display: none;
		}

		.footer-nav__title {
			display: none;
		}

		.menu-footer-units {
			@include rem('margin-top', 2);
			padding: 0;
			list-style: none;
			columns: 2;


			@include min-width ( $iPadPortrait ) {
                margin: -3px;
				columns: 2;
			}

			li {
				@include rem('line-height', 2);
                border-bottom: #292827 1px solid;
                border-top: #43423f 1px solid;
				@include rem('min-height', 2);
                &:nth-child(9) {
                    border-bottom: none;
                }
                &:nth-child(17) {
                    border-bottom: none;
                }
                &:nth-child(18) {
                    border-top: none;
                    border-bottom: none;
                }
                &:nth-child(1) {
                    border-top: none;
                }
                &:nth-child(10) {
                    border-top: none;
                }
            }
            
			a {
				display: inline-block;
				text-decoration: none;
				color: #bbb;
			}

			a:hover {
				color: #fff !important;
			}

		} // .menu-footer-units

	} // .footer-nav

	.footer__info {
		color: $text-very-lt;
        
        @media print {
            p:first-of-type:before {
                content: "College of the Environment | ";
            }
        }
        
        a {
            color: #bbb;
            text-decoration: none;
        }
        
        p:first-of-type {
            margin: 0;
        }

		@include min-width ( $iPadPortrait ) {
			float: left;
			@include col-1;
		}

		form {
			display: block;
			@include rem('margin', 0, 0, 1);

			@media print {
				display: none;
			}

			input[type="text"] {
				@include font-size(12);
				background: #666;
				color: #fff;
				@include placeholder {
					color: #eee;
				}
			}

			button[type="submit"] {
				background: #666;

				i {
					@include font-size(16);
					color: #eee;
				}

				&:hover i {
					color: #fff;
				}

			} // button[type="submit"]

		} // form

		.top-links {
			margin: 0;
			padding: 0;
			list-style: none;

			@media print {
				display: none;
			}

			a {
				text-decoration: none;
				color: #bbb;
			}

		} // .top-links
        
	} // .footer__info

} // .site-footer

.uw-footer {
    background-image: url("../../img/black-white-suz.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    @include rem('padding', 1.5, 0, 1, 0);
    clear: both;
    @extend .clearfix;
    width: 100%;
    @include font-size(10.5);
    font-weight: 600;
    text-transform: uppercase;
    color: #bbb;
    letter-spacing: 0.1em;
    
    @media print {
        padding-top: 0;
    }

    a {
        color: #bbb;
        text-decoration: none;
        &:hover {
		  color: #fff !important;
        }
    }
    
    .be-boundless {
        text-align: center;
        height: 190px;
        @include rem('padding', 3, 0);
        
        img:first-of-type {
            @include rem('padding-bottom', 1.3);
        }
        
        svg:hover #be-boundless-svg {
            fill: $white;
        }
        
        .be-boundless-svg-whole {
            width: 200px;
        }

        .boundless-logo {
            margin: 1.75rem 0;
            width: 325px;
        }
        
        @media print {
            padding: 0;
            height: auto;
        }
    }

    .copyright {

        @include min-width ( $iPadPortrait ) {
            float: left;
            display: inline-block;
            @include col-2;
            text-align: left;
        }

    } // .copyright

    .menu-footer-links {
        margin: 0;
        padding: 0;
        list-style: none;

        @include min-width ( $iPadPortrait ) {
            display: inline-block;
            float: right;
            text-align: right;
            @include col-2;
            @include rem('padding-left', 2);
        }

        @media print {
            display: none;
        }

        li {
            display: inline-block;

            @include min-width ( $iPadPortrait ) {
                @include rem('margin', 0, 0, 0, 1);
            }
            


             

        } // li

        a {
            text-decoration: none;
        }

    } // .menu-footer-links

} // .uw-footer
@media (max-width: 700px) {
    .copyright {
        text-align: center;
    }
    .menu-footer-links {
        text-align: center;
    }
    .menu-footer-links a {
        padding: 0 .5rem;
    }
}


