.future-undergrads {
    .right-col {
        float: right!important;
    }
    #top-tab {
        @extend #secondary-nav;
        @extend .side-col;
        float: left;
        a {
            display: table;
        }
    }
    #arrow-nav {
        position: relative;
        width: 100%;
        li {
            display: inline-block;
            width: 33%;
        }
    }
    .article {
        padding: 1rem;
    }
    .article__title {
        @extend .post-info;
        margin: 0;
        padding: 0 0 .25rem 0;
        border: none;
        line-height: 1rem;
        @include sans();
        font-size: 1rem!important;
    }
    .first-title {
        @extend h1;
        font-size: 4rem!important;
        line-height: 4.5rem!important;
        border-bottom: 2px solid #ddd;
        margin-top: 0;
        padding-bottom: 1rem;
        margin-bottom: 2rem;
    }
}