.future-undergrads {
    .right-col {
        float: right!important;
    }
    #top-tab {
        @extend #secondary-nav;
        @extend .side-col;
        float: left;
        margin-bottom: 0;
        a {
            display: table;
        }
    }
    #arrow-nav {
        position: relative;
        width: 100%;
        ul {
            margin: 0!important;
            padding: 0;
            overflow: hidden;
        }
        li {
            display: inline-block;
            width: 33%;
            transform: skewX(-15deg);
            background: #eee;
            &:hover{
                background-color: #efefef;
                &:before {
                    background-color: #efefef;
                }
            }
            &.arrow-1:before {
                content: '';
                position: absolute;
                display: block;
                background: #eee;
                height: 100%;
                width: 50px;
                transform: skewX(15deg);
            }
            &.arrow-3:before {
                content: '';
                position: absolute;
                display: block;
                background: #eee;
                height: 100%;
                width: 50px;
                right: -4px;
                transform: skewX(15deg);
            }
            a {
                display: inline-block;
                @include serif();
                font-size: 1.2rem;
                width: 100%;
                padding: 1rem 0 1rem 1.2rem;
                text-decoration: none;
                color: $text;
                transform: skewX(15deg);
            }
        }
    }
    .article {
        padding: 1rem;
        .article__content p:first-of-type {
            margin: 0;
        }
    }
    .article__title {
        @extend .post-info;
        margin: 0;
        padding: 0 0 .25rem 0;
        border: none;
        line-height: 1rem;
        @include sans();
        font-size: 1rem!important;
    }
    .first-title {
        @extend h1;
        font-size: 4rem!important;
        line-height: 4.5rem!important;
        border-bottom: 2px solid #ddd;
        margin-top: 0;
        padding-bottom: 1rem;
        margin-bottom: 2rem;
    }
}