.page-id-267, .single-intranet, .page-id-60007{
    
    .intranet-summary {
        border-bottom: 2px solid #ddd;
        
        h2 {
            margin-top: 0;
            @include rem('padding-bottom', 1);
            @include serif;
            @include font-size(24);
            @include line-height(30);
            font-weight: 400;
            border-bottom: 2px solid $border;

            @include min-width ( $iPadPortrait ) {
                @include font-size(36);
                @include line-height(48);
            }

        }
        
        p {
            margin-bottom: 0;
            padding-bottom: 1.5rem;
        }

    }
    
    .filter-title {
        margin-left: 1rem;
        margin-bottom: -.25rem;
        text-transform: uppercase;
        font-size: .9rem;
        letter-spacing: .1em;
        font-weight: 600;
    }
    
    .blog-header {
        box-shadow: none;
		@extend .clearfix;
		@include rem('padding', 1);
        padding-bottom: .7rem;
        padding-top: 0;
		background: #fff;

		@include min-width ( $iPadPortrait ) {
			@include rem('margin', 1, -2, 0, 1);
		}

	} // .blog-header
    
    .results-text {
        border-top: none;
        .right {
            margin-top: -.25rem;
            float: right!important;
            a {
                background-color: #ddd;
                color: #333;
                &:hover {
                    background-color: #363533;
                    color: white;
                }
            }
        }
    }
    
    .blogtime {
        .topic-intranet:first-of-type{
            padding-top: 0;
            .article__header{
                border-top: 2px solid #ddd;
                padding-top: 3rem;
            }   
        }
    }
}

.single-intranet {
    .blog-header {
        @include rem('padding', 1);
        margin-top: 2rem;
    }
}