.page-id-267, .single-intranet {
    
    .intranet-summary p {
        margin-bottom: 0;
    }
    
    .blog-header {
        box-shadow: none;
		@extend .clearfix;
		@include rem('margin', 1, 0, 1, 0);
		background: #fff;

		@include min-width ( $iPadPortrait ) {
			@include rem('margin', 1, -1, 0, 2);
		}

	} // .blog-header
    
    .results-text {
        border-top: none;
        .right {
            margin-top: -.25rem;
            float: right!important;
            a {
                background-color: #ddd;
                color: #333;
                &:hover {
                    background-color: #363533;
                    color: white;
                }
            }
        }
    }
}