.template-newsletter {

    .newsletter_header {
        &.scicomm {
            background-image: url("../../img/scicomm_background.png");
            .newsletter_title {
                color: $white;
            }
        }
        &.headlines {
            background-image: url("../../img/headlines_background.png");
            .newsletter_title {
                color: black;
            }
            .header_img {
                width: 40%;
                @include max-width( $iPadPortrait ) {
                    width: 55%;
                }
            }
        }
        background-size: cover;
        background-position: 75% center;
        text-align: center;
        
        @include rem('margin', 1);
        @include rem('padding', 2, 1, 1, 1);
        @extend .shadow;
        .newsletter_title {
            font-size: 1.5rem;
            @include max-width( $iPadPortrait ) {
                font-size: 1rem;
            }
            margin: 0rem;
        }
    }

    .newsletter {
        @extend .shadow;
        @include rem('margin', 0, 1, 1, 1);
        @include rem('padding', 1, 2, 2, 2);
        background: #f5f5f5;
		.news_item, .scicomm_news_item {
           position: relative;
			@media print {
				margin: 0;
				padding: 0;
			}

			@include min-width ( $iPadPortrait ) {
				@include rem('margin', 1, 0, 3, 0);
				@media print {
					margin: 0;
				}
			}

			.article__title {
				margin-top: 1rem;
			} 
            .article__content {
                .button {
                    background: #555;
                }
            }
        }

        .scicomm_news_item {
            .scicomm_image, .article__title {
                margin-top: 1rem;
                @include min-width ( $iPadPortrait ) {
                    width: 45%;
                    margin: 1rem;
                }
            }

            .article__title {
                margin-top: 0px;
                a {
                    color: $accent !important;
                    font-size: 2.5rem;
                    line-height: 1rem;
                }
                float: left;
            }

            .scicomm_image {
                display: block;
                float: right;
            }
        }

        .news_item {
			.article__content {
				margin-bottom: 2rem;
				&:not(.scicomm_feature) {
					max-height: 200px;
                    @include max-width ( $bp-2 ) {
                        max-height: 350px;
                    }
                    @include max-width ( $bp-1 ) {
                        max-height: 500px;
                    }
					position: relative;
					overflow: hidden;
				}
				.read-more {
					position: absolute;
					bottom: 0;
					left: 0;
					width: 100%;
					text-align: center;
					margin: 0;
					padding: 30px 0;
					/* "transparent" only works here because == rgba(0,0,0,0) */
					background-image: linear-gradient(to bottom, transparent, $text-very-lt);
                    .button {
                        background: #555;
                        &:hover {
                            background: #333;
                        }
                    }
				}
			}
		}

        .events {
			overflow: hidden;
			a.event-single {
                @extend .shadow;
				text-decoration: none;
                border: 5px solid #fff;
				color: black;
				width: 47%;
                @include max-width( $iPadPortrait ) {
                    width: 99%;
                    margin: 1rem 0.1rem;
                }
				margin: 1rem 0rem 1rem 1rem;
				text-align: center;
				background-color: #e5e5e5;
				float: left;
				min-height: 175px;
				&:hover {
					color: black !important;
				}
           		.event_container {
					img {
						margin-top: 1rem;
					}
				}
				p {
					margin: 0.5rem 0rem;
				}
				.event_date {
					text-decoration: none;
					font-weight: bold !important;
					color: $accent;
					text-transform: uppercase;
				}
				.event_title {
					text-decoration: none;
					font-weight: bold !important;
					line-height: 1.4 !important;
					word-break: keep-all;
					color: black;
                    padding: 0.5rem;
				}
			}
            .more_events {
                text-align: center;
                .more_events_icon {
                    vertical-align: bottom;
                    margin-right: 0.5rem;
                }
                a {
                    color: $text;
                }
            }
        }
        .college {
			.around_list {
				font-size: 1.2rem;
				padding-left: 0px;
				margin-bottom: 0px;
				list-style-type: none;
                li {
                    margin-bottom: 20px;
                }

					p a, li a {
						color: $accent;
						padding-bottom: 20px;
						margin-bottom: 0px;
						font-weight: 600;
                        text-decoration: none;
						span {
							color: $text-md;
						}   
					}     
			}
        }
        .section-title {
            background-color: #e5e5e5;
            line-height: 0rem !important;
            .title-tag {
                height: 2rem;
                @include max-width( $iPadPortrait ) {
                    height: 1.5rem;
                }
            }
        }
    }

    .related {
        .related-container {
            .related-article-title {
                &:hover {
                    i {
                        color: #fff;
                    }
                }
                i {
                    float: left;
                    display: block;
                    padding-top: .5rem;
                    font-size: 2rem;
                    clear: both;
                    margin-right: 1rem;
                    color: #888;
                }
                .icon-mail {
                    padding-top: .25rem;
                }
                span {
                    display: block;
                    overflow: hidden;
                    padding-bottom: 0.5rem;
                    padding-left: 1rem;
                }
            }
        }
    }
}
