
/*	Template: page
		Customizations applied to content within the page.php template
		======================================================================== */

.template-page {
	background: #fff;
    min-height: 550px;
    
    .error { 
        padding-left: 0em;
        
        form.Form--inline input {
            background: #ddd;
        }

    }

} // .template-page

.page {
    .article__content {
	   min-height: 450px;
    }
}

.page-id-267, .intranet-blog {
    .article__content {
	   min-height: 0px;
    }
}

.search-results {
	.page {
		.article__content {
		min-height: 0px;
		}
	}
}

.table-container
{
	width: 100%;
	overflow-y: auto;
	_overflow: auto;
	margin: 0 0 1em;
	
	::-webkit-scrollbar {
		-webkit-appearance: none;
		width: 14px;
		height: 14px;
	}
	
	::-webkit-scrollbar-thumb {
		border-radius: 8px;
		border: 3px solid #fff;
		background-color: rgba(0, 0, 0, .3);
	}
}

.table-container

.table-container::-webkit-scrollbar-thumb
{
	border-radius: 8px;
	border: 3px solid #fff;
	background-color: rgba(0, 0, 0, .3);
}