.post-template-signature-story, .post-template-cambodia-signature-story {
    overflow: hidden;
    overflow-y: auto;

    .article {
        padding: 0;
    }
    .template-signature-story {
        background: #fff;
        min-height: 500px;
    }
    .article__title {
        font-size: 3.5rem;
        line-height: 4.25rem;
        margin: 2rem 0 5rem 0;
        border: none;
        font-weight: 200;
        letter-spacing: 1px;
        &:before {
            content: '';
            display: block;
            width: 5rem;
            border-top: .25rem solid #666;
            position: absolute;
            bottom: -1.5rem;
        }
        &:after {
            content: '';
            display: block;
            position: absolute;
            width: 7rem;
            border-top: .25rem solid #666;
            transform: skewX(-15deg);
            bottom: -1.5rem;
            left: 30px;
        }
    }
    
    .article__header {
        margin-bottom: 2rem;
    }
    .intro {
        font-size: 1.8rem;
        line-height: 150%;
    }
    h2 {
        margin-bottom: 3rem;
        line-height: 150%;
        margin-top: 0;
        position: relative;
        &:before {
            content: '';
            display: block;
            width: 3rem;
            border-top: .25rem solid #666;
            position: absolute;
            bottom: -1.5rem;
        }
        &:after {
            content: '';
            display: block;
            position: absolute;
            width: 4rem;
            border-top: .25rem solid #666;
            transform: skewX(-15deg);
            bottom: -1.5rem;
            left: 1px;
        }
    }
    .main-col {
        margin: auto;
        width: 100%!important;
        
        .title__block {
            max-width: 640px!important;
            @include min-width ( 800 ) {
                width: 50%;
            }
        }
        
        .article__content, .article__header {
            max-width: 640px!important;
            padding: 0 2rem;
            margin: auto;
            position: relative;
            @include min-width ( 800 ) {
                width: 50%;
            }
        }
        .article__content > p:not(.intro) {
            font-size: 1.1rem;
            line-height: 2rem;
            margin-bottom: 2.5rem;
        }
    }
    
    .button {
        text-transform: uppercase;
        border: 3px solid #666;
        background-color: transparent;
    }
    .article__content .element-wrapper, .article__content > .element, .article__content > p > .element, .article__content > p > .define-term > .element{
        position: relative;
         @include min-width ( 1200 ) {
            &.right {
                right: calc(-253px - 4rem)!important;
            }
            &.left {
                margin-left: calc(-253px - 4rem)!important;
            }
        }
        @include min-width ( 1020 ) {
            position: absolute;
            &.right {
                margin: auto;
                right: -253px;
            }
            &.left {
                margin-left: calc(-253px - 2rem);
                
            }
        }
        @include max-width ( 1020 ) {
            &.left {
                padding-right: 1rem;
            }
        } 

        @include min-width ( 900 ) {
            position: absolute;
            &.right {
                margin: auto;
                right: -24vw;
            }
            &.left {
                margin-left: calc(-24vw - 1rem);
            }
        }
        @include max-width ( 900 ) {
            img {
                padding: 1rem;
            }
        }
        @include max-width ( 600 ) {
            position: relative;
            width: 100%;
            &.right {
                float: none!important;
            }
            &.left {
                float: none!important;
            }
        }

    }
   
    //elements 
    
    .element-wrapper {
        max-width: 253px;
    }
    
    .element-wrapper .element:not(:first-child) {
        margin-top: 1rem;
        &:before {
            content: '';
            display: block;
            width: 3rem;
            border-top: .25rem solid #666;
            position: absolute;
            top: -1.5rem;
        }
        &:after {
            content: '';
            display: block;
            position: absolute;
            width: 4rem;
            border-top: .25rem solid #666;
            transform: skewX(-15deg);
            top: -1.5rem;
            left: 1px;
        }
    }
    .element-wrapper .element {
        position: relative;
        padding-bottom: 2rem;
    }
    .element {
        @include min-width ( 900 ) {
            width: 24vw;
            max-width: 253px;
        }
        @include min-width ( 1020 ) {
            width: 253px;
        }
        padding-bottom: 1rem;
        &:not(.element-call_to_action) {
            .title {
                margin: .5rem 0 2rem;
                font-size: 1.5rem;
                &:before, &:after {
                    bottom: -1rem
                }
            }
            .subtitle {
                font-size: .8em;
                font-weight: 600;
                margin: 0;
                @include sans();
                letter-spacing: .1px;
                text-transform: uppercase;
            }
        }
        
        p {
            margin-bottom: 1rem;
            letter-spacing: .5px;
        }
        
        &.element-profile {
        }
        
        &.element-gallery {
            a {
                display: none;
                &:first-of-type {
                    display: block;
                }
            }
        }
        
    }
    
    .big-element {
        &.element-call_to_action {
            width: 100%;
            position: relative;
            max-width: none;
            background-size: contain;
            margin-bottom: 0!important;
            margin-top: 1rem;
            color: white;
            padding: 8vw 0;
            .title {
                font-size: 3rem!important;
                line-height: 100%!important;
                padding-bottom: 1rem!important;
                margin-bottom: 4rem!important;
                &:before, &:after {
                    border-color: white;
                }
            }
            .cta-content {
                @extend .article__content;
            }
            .button {
                text-transform: uppercase;
                font-weight: 600;
                background: none;
                border: 3px solid white;
                color: white;
                padding: .5rem;
                font-size: 1rem;
                line-height: 120%;
                &:hover {
                    background-color: white;
                    color: black!important;
                }
            }
        }

        &.element-map {
            .acf-map {
                h2 {
                    display: inline;
                    margin: auto;
                    margin-right: 1rem;
                    font-size: 1rem;
                    &:before, &:after {
                        display: none;
                    }
                }
            }

            .acf-map-container {
                position: relative;
                margin: auto;
                max-width: 640px;
                padding: 0 2rem;
                margin-bottom: 2rem;
                @include min-width ( 800 ) {
                    width: 50%;
                }

                @include min-width ( 800 ) {
                    .right {
                        position: absolute;
                        margin: auto;
                        right: -24vw;
                        width: 24vw;
                        max-width: 253px;
                    }
                    .left {
                        position: absolute;
                        margin-left: calc(-24vw - 1rem);
                        width: 24vw;
                        max-width: 253px;
                    }
                }

                @include min-width ( 1020 ) { 
                    .right {
                        position: absolute;
                        margin: auto;
                        right: calc(-253px - 2rem)!important;
                        padding-right: 1rem;
                    }
                    .left {
                        margin-left: calc(-253px - 2rem)!important;
                        padding-right: 1rem;
                    }
                }

                @include min-width ( 1200 ) {
                    .right {
                        position: absolute;
                        right: calc(-253px - 4rem)!important;
                        width: 253px;
                    }
                    .left {
                        position: absolute;
                        margin-left: calc(-253px - 4rem)!important;
                        width: 253px;
                    }
                }

                .map-instructions {
                    @include min-width ( 800 ) {
                        &:before {
                            content: '';
                            display: block;
                            width: 6rem;
                            border-top: .25rem solid #666;
                            margin-bottom: 1rem;
                        }
                    }
                    @include max-width ( 799 ) {
                        text-align: center;
                        margin-bottom: 1rem;
                    }
                    font-style: italic;
                    color: #666;
                }

                .map-box {
                    .icon {
                        width: 50px;
                    }
                    h2 {
                        margin-top: 0;
                        @include serif();
                        font-weight: 400;
                    }
                    @include max-width ( 799 ) {
                        height: 105px;
                        margin: 1rem auto 1rem auto;
                        width: 260px;
                            
                        h2 {
                            display: none;
                            &:before, &:after {
                                left: .5rem;
                            }
                            padding-left: .5rem;
                            padding-right: 1rem;
                        }
                        .icon {
                            float: left;
                            margin-right: 1rem;
                            margin-top: 1rem;
                            margin-bottom: 2rem;
                        }
                    }
                }
            }
        }
        
        &.element-big_gallery {
            position: relative;
            margin: auto;
            max-width: 640px;
            width: 50%;
            padding: 0 0 1rem 0;
            &:before {
                content: 'click image to load gallery';
                position: relative;
                float: right;
                display: block;
                bottom: .5rem;
                right: 2.5rem;
                color: #666;
                font-size: .7rem;
            }
            @include max-width ( 800 ) {
                width: 100%;
                margin-bottom: 1rem;
            }
            a {
                &:hover {
                    opacity: .9; 
                }
                &:nth-of-type(2) img, &:nth-of-type(3) img, &:nth-of-type(4) img, &:nth-of-type(5) img {
                    width: 253px;
                    @include min-width ( 800 ) {
                        width: 24vw;
                        max-width: 253px;
                    }
                    @include min-width ( 1020 ) {
                        width: 253px;
                    }
                    @include max-width ( 1020 ) {
                        padding-right: 1rem;
                    }
                    @include max-width ( 800 ) {
                        display: none;
                    }
                }
                &:nth-of-type(1) img {
                    width: 640px;
                    padding: 0 2rem;
                    margin: auto;
                }
                &:nth-of-type(2) img, &:nth-of-type(3) img {
                    @include min-width ( 1200 ) {
                        right: calc(-253px - 2rem)!important;
                    }
                    @include min-width ( 1020 ) {
                        position: absolute;
                        margin: auto;
                        right: -253px;
                    }
                    @include min-width ( 800 ) {
                        position: absolute;
                        margin: auto;
                        right: -24vw;
                    }
                }
                
                &:nth-of-type(4) img, &:nth-of-type(5) img {
                    @include min-width ( 1200 ) {
                        left: calc(-253px - 2rem)!important;
                    }
                    @include min-width ( 1020 ) {
                        position: absolute;
                        left: calc(-253px - 0rem);
                    }

                    @include min-width ( 800 ) {
                        position: absolute;
                        left: calc(-24vw + 1rem);
                    }
                }
                
                &:nth-of-type(3) img, &:nth-of-type(5) img {
                    top: 200px;
                    @include max-width ( 1020 ) {
                        top: 18vw;
                    }
                }
                
            }
            
            .gallery-caption {
                padding: 0 2rem;
                bottom: .5rem;
                right: 2.5rem;
                color: #666;
                font-size: .8rem;
                strong {
                    text-transform: uppercase;
                }
            }
        }
        
    }
    
    
    //quotes
    
    .open-quote {
        position: absolute;
        display: block;
        font-size: 4rem;
        margin-top: .5rem;
        left: -.5rem;
        color: #888;
        &:before {
            content: '“';
            font-family: skolar;
        }
    }
    
    .feat-quote {
        @include serif();
        font-size: 1.8rem;
        line-height: 150%;
        margin: 3rem 0 4rem 0;
        font-weight: 200;
        color: #777;
        position: relative;
        &:before {
            content: '';
            display: block;
            position: absolute;
            width: 3rem;
            border-top: .25rem solid #777;
            bottom: -1.5rem;
        }
        &:after {
            content: '';
            display: block;
            position: absolute;
            width: 5rem;
            border-top: .25rem solid #777;
            transform: skewX(-15deg);
            bottom: -1.5rem;
            left: 1px;
        }
    }
    
    .tweetable a {
        position: relative;
        text-decoration: none;
        background-color: rgba(1,1,1,.05);
        border-bottom: 1px solid grey;
        color: $text;
        font-size: 1.1rem;
        line-height: 2rem;
        margin-bottom: 2.5rem;
         &:before {
            visibility: hidden;
            opacity: 0;
            content: "\e016";
            position: absolute;
            display: block;
            float: left;
            top: calc(50% - 15px);
            margin-left: -40px;
             font-size: 1.5rem;
             padding: .25rem;
             border-radius: 5px;
            font-family: icomoon;
            speak: none;
            font-style: normal;
            font-weight: 400;
            font-variant: normal;
            text-transform: none;
            line-height: 1;
            -webkit-font-smoothing: antialiased;
             background-color: rgba(1,1,1,.05);
        }
        &:after {
            content: '';
            visibility: hidden;
            opacity: 0;
            position: absolute;
            display: block;
            float: left;
            top: calc(50% - 15px);
            width: 0;
            height: 0;
            margin-left: -12px;
            margin-top: 10px;
            border-bottom: 5px solid transparent;
               border-top: 5px solid transparent;
               border-left: 5px solid rgba(1,1,1,.05);
        }
        @include max-width ( 800 ) {
            &:after {
                display: none;                
            }
            &:before {
               visibility: visible;
               opacity: 1;
               color: rgba(1,1,1,.2);
                font-size: 1.3rem;
                margin-left: -26px;
                background: none;
                position: initial;
            }
        }
        &:hover {
           &:before, &:after{
               visibility: visible;
               opacity: 1;
               transition: visibility 0s, opacity 0.5s linear;
            }
        }
    }
        
        .define-term {
            a {
                position: relative;
                text-decoration: none;
                background-color: rgba(1,1,1,.05);
                border-bottom: 1px solid grey;
                color: $text;
                font-size: 1.1rem;
                line-height: 2rem;
                margin-bottom: 2.5rem;
                cursor: pointer;
            }
            .define-element {
                visibility: hidden;
                opacity: 0;
                left: 2rem;
                margin-top: -5rem;
                .underline {
                    position: relative;
                    margin-bottom: 2rem;
                    &:before {
                        content: '';
                        display: block;
                        position: absolute;
                        width: 3rem;
                        border-top: .25rem solid #000;
                        top: 1.5rem;
                    }
                    &:after {
                        content: '';
                        display: block;
                        position: absolute;
                        width: 5rem;
                        border-top: .25rem solid #000;
                        transform: skewX(-15deg);
                        top: 1.5rem;
                        right: -15px;
                    }
                }
                .definition-text {
                    display: block;
                    margin-top: 1.5rem;
                    padding-right: 2rem;
                    line-height: 1.5rem;
                    font-size: 1rem;
                    letter-spacing: .5px;
                }
            @include max-width ( 900 ) {
                display: none;
            }
        }
        &:hover {
            .define-element {
                visibility: visible;
                opacity: 1;
                transition: visibility 0s, opacity 0.5s linear;
            }
        }
    }

        //photos
    .article__content .wp-caption {
        box-shadow: none;
        background: none;
        font-style: italic;
        margin-bottom: 2rem;
        .wp-caption-text {
            color: #666;
            margin-left: 0;
            margin-top: .5rem;
        }
    }

    .photo-divider {
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: 40vh; 
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        @include max-width ( 800 ) {
            background-attachment: inherit;
        }
    }
    
    p.small-text {
        position: relative;
        margin-top: 3rem;
        font-size: 80%!important;
        &:before {
            content: "";
            display: block;
            position: absolute;
            top: -1.5rem;
            border-top: 0.25rem solid rgb(102, 102, 102);
            width: 5rem;
        }
        &:after {
            content: "";
            display: block;
            position: absolute;
            top: -1.5rem;
            border-top: 0.25rem solid rgb(102, 102, 102);
            width: 7rem;
            transform: skewX(-15deg);
            left: 30px;
        }
    }
    
    //video header

    .no-video .video-container video {
        display: none!important;
    }
    .no-video .video-container .poster {
        display: block !important;
    }
    .video-container {
        position: relative;
        bottom: 0%;
        left: 0%;
        height: 100%;
        width: 100%;
        overflow: hidden;
        display: table;
        background: #000;
        .poster img {
                max-width: none;
                top: -50%;
                position: absolute;
                width: 225%;
                left: -100%;
        }
        .filter {
            z-index: 100;
            position: absolute;
            width: 100%;
        }
        #video-overlay {
            top: 0;
            left: 0;
            position: absolute;
            display: none;
            z-index: 9999999;
        }
        #video-overlay img {
            width: 750px;
            height: 480px;
        }
        #hero-video {
            position: absolute;
            height: 100%;
            z-index: 0;
            bottom: 0;
            opacity: 1;
            transition: 1s opacity;
            object-fit: cover;
            &.fullfade {
                opacity: 0;
            }
        }
        video.fillWidth {
            width: 100%;
        }
    }
    .play-pause-hero {
        color: white;
        padding: .5rem;
        margin-bottom: 1.5rem;
        margin-right: 1.5rem;
        position: absolute;
        bottom: 1rem;
        right: 1rem;
        height: 33px;
        width: 33px;
    }
    .fi-play {
        color: #fff;
        height: 33px;
        width: 33px;
        position: absolute;
        font-size: 2rem;
    }
    .fi-pause {
        color: #fff;
        height: 33px;
        width: 33px;
        position: absolute;
        font-size: 1rem;
    }
}


//green crabs

.postid-59425 {
    .banner-wrapper {
        background-position: top;
    }
}
.wp-image-59763 {
    @include max-width ( 1200 ) {
        margin-bottom: calc(25rem - 20vw);
    }
    @include max-width ( 799 ) {
        margin-bottom: 0!important;
    }
}


.element-green-crabs-are-survivors {
    img {
        display: none;
    }
    @include min-width ( 800 ) {
        p img:nth-of-type(1) {
            display: block;
        }
        p img:nth-of-type(2) {
                display: none;
        }
    }
    @include max-width ( 800 ) {
        p img:nth-of-type(1) {
            display: none;
        }
        p img:nth-of-type(2) {
            display: block;
        }
    }
}

.element-green-crabs-are-survivors {
    img {
        display: none;
    }
    @include min-width ( 800 ) {
        p img:nth-of-type(1) {
            display: block;
        }
        p img:nth-of-type(2) {
                display: none;
        }
    }
    @include max-width ( 800 ) {
        p img:nth-of-type(1) {
            display: none;
        }
        p img:nth-of-type(2) {
            display: block;
        }
    }
}


//ess field camp

.postid-62064 {
    #hero-video {
        height: 110%!important;
    }
    .photo-divider-1 {
        margin-bottom: 0;
        background-attachment: inherit;
        min-height: 31vw;
        background-size: contain;
        background-position: bottom;
        margin-top: -2rem;
        &.parallax {
            margin-top: 0;
        }
        
        &.mobile-zoom {
            @include max-width ( 800 ) {
                min-height: 42vw;
                background-size: 170%;
                background-position: bottom;
            }
        }
    }
    .photo-divider-2 {
        margin-top: 0;
    }
    
    .big-element.element-call_to_action {
        margin-top: 0;
        .button:first-of-type {
            background-color: $accent-red!important;
            border: 3px solid darken($accent-red, 10%)!important;
            margin-bottom: 1rem;
            margin-top: .5rem;
            &:hover {
                background-color: darken($accent-red, 10%)!important;
                color: white!important;
            }
        }
    }
    
    .element-beyond-my-field-notes {
        .button {
            background-color: #f5c902;
            border: 3px solid #e4bd0b!important;
            &:hover {
                background-color: lighten(#f5c902, 10%)!important;
                color: $text!important;
            }
        }
    }
}

//cambodia

.smooth-scroll {
    scroll-behavior: smooth;
}

.post-template-cambodia-signature-story {
    
    //navigator
    
    #logo {
        width: 350px;
    }
    .mini-top-menu-inner {
        position: relative;
    }
    .navigator {
        position: absolute;
        right: 0;
        top: 0;
        li {
            display: inline-block;
            a {
                position: relative;
                color: white;
                text-decoration: none;
                font-size: .775rem;
                line-height: 42px;
                letter-spacing: 1px;
                @include sans();
                font-weight: 800;
                text-transform: uppercase;
                margin-left: 1rem;
                padding-bottom: 2px;
                opacity: .8;
                &:after {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    opacity: 0;
                    background: #fff;
                    height: 2px;
                    margin-bottom: -4px;
                    -webkit-transition: opacity .4s;
                    transition: opacity .4s;
                }
                
                &:hover, &.active {
                    color: white!important;
                    opacity: 1;
                    text-decoration: none;
                    &:after{
                        opacity: 1;
                    }
                }
            }
        }
        @include max-width ( 900 ) {
            display: none;
        }
    }
    
    // top video
    .feature {
        //margin-top: -32px;
        position: relative;
    }
    #hero-video {
        height: 110%!important;
    }
    .banner-wrapper {
        height: 88vh;
        min-height: 700px;
    }
    
    .play-pause-hero {
        bottom: 7rem;
        i {
            font-style: normal!important;
        }
        &:hover {
            cursor: pointer;
        }
    }
    
    //title
    
    .article__title {
        position: absolute;
        bottom: 5rem;
        margin: 0;
        color: white;
        max-width: 600px;
        &:before, &:after {
            display: none;
        }
        @include min-width ( 900 ) {
            left: -1rem;
        }
        @include max-width ( 800 ) {
            margin-bottom: 4rem;
            bottom: 10rem;
        }
        .big__title {
            font-style: italic;
            line-height: 90%;
            font-family: 'pt-serif-bold-italic';
            font-size: 4rem;
            @include min-width ( 900 ) {
                font-size: calc(2.5vw + 4rem);
            }
            @include min-width ( 1800 ) {
                font-size: 9rem;
            }
        }
        .subtitle {
            font-size: 1.1rem;
            @include min-width ( 900 ) {
                font-size: calc(.5vw + 1rem);
            }
            @include min-width ( 1800 ) {
                font-size: 1.5rem;
            }
            line-height: normal;
            letter-spacing: 2.5px;
            @include sans();
            font-weight: 800;
            text-transform: uppercase;
        }
    }
    .article__header {
        @include min-width ( 800 ) {
            width: 75%!important;
            max-width: none;
        }
        @include min-width ( 900 ) {
            width: 50%!important;
        }
        
    }
    
    //waves
    
    .waves {
        background-repeat: repeat-x;
        background-image: url(../../img/mekong/Flooding.svg);
        background-size: cover;
        width: 100%;
        height: 100px;
        position: absolute;
        display: block;
        bottom: 0;
    }
    
    //article
    
    .article__content:first-of-type {
        
        @include max-width ( 1600 ) {
            top: 2rem;
        }
    }
    
    .main-col .article__content{
        top: 2rem;
        z-index: 2;
        padding: 0 2rem 2rem 2rem!important;
        
        @include min-width ( 800 ) {
            width: 75%;
            max-width: none;
        }
        @include min-width ( 900 ) {
            width: 50%;
        }
        
        @include min-width ( 800 ) {
            left: -3rem;
        }
        
        strong {
            font-family: 'pt-serif-bold';
            font-size: 1.25rem;
        }
        
        .wp-caption.alignright {

            @include max-width ( 1000 ) {
                width: 100%!important;
                margin-right: 0;
            }
            @include min-width ( 1000 ) {
                margin-right: -50%;
                padding-left: 1rem;
            }
        }
        
        .wp-caption.aligncenter {
            max-width: 100%;
            position: relative;
            @include min-width ( 800 ) {
                margin-left: -20%;
                max-width: 130%;
            }
            @include min-width ( 1400 ) {
                left: 12.5%;
                max-width: 125%;
            }
            @include min-width ( 1600 ) {
                left: -25%;
                max-width: none;
            }
        }
        
    }
    
    //image order switcher
    
    @include max-width ( 1000 ) {
        #section-introduction .article__content:first-child, #section-relying-on-rice .article__content {
            display: flex;
            flex-flow: column;
            #attachment_71658, #attachment_71679 {
                order: 2;
            }
            p:first-of-type {
                order: 1;
            }
            p:nth-of-type(3) {
                order: 3;
            }
            .element-slider_gallery1, .element-content2, #attachment_71667 {
                order: 3;
            }
            .element-content2 {
                margin: auto;
                position: relative;
                width: auto;
                max-width: none;
                right: inherit;
                margin-top: -2rem;
            }
            p {
                order: 3;
            }
            .wp-caption.alignright {
                margin-left: 0;
            }
        }
    }
    
    // parallax dividers
    
    .photo-divider {
        text-align: center;
        position: relative;
        @include max-width ( 600 ) {
            max-height: 100vw;
            height: 100vw;
            &:after {
                background-image: linear-gradient(180deg, transparent 10%, black 110%)!important;
                max-height: 105vw;
                height: 105vw;
            }
        }
        
        @include min-width ( 600 ) {
            min-height: 85vh;
            &:after {
                min-height: 85vh;
            }
        } 
        
        &:after {
          display: block;
          position: relative;
          background-image: linear-gradient(180deg, transparent 50%, black 130%);
          width: 100%;
          content: '';
        }
        
        &.relying-on-rice {
            background-position: top;
        }

        .inner-divider-content {
            bottom: 0;
            position: absolute;
            margin: 0 2rem;
            text-align: left;
            z-index: 2;
            @include min-width ( 900 ) {
                left: 50%;
                transform: translateX(-50%);
                max-width: 640px;
                margin: 0 auto;
            }
        }
        
        @include min-width ( 900 ) {
            .title-block {
                margin-left: -1rem;
            }
        }
        
        
        .section-title {
            font-style: italic;
            line-height: 110%;
            margin-bottom: 1rem;
            letter-spacing: 1px;
            font-family: 'pt-serif-bold-italic';
            color: white;
            max-width: 600px;
            font-size: 3rem;
            @include min-width ( 900 ) {
                font-size: calc(2.5vw + 3rem);
            }
            @include min-width ( 1800 ) {
                font-size: 7rem;
            }
            &:before, &:after {
                display: none;
            }
        }
        .subtitle {
            font-size: 1.25rem;
            line-height: normal;
            letter-spacing: 2.5px;
            @include sans();
            font-weight: 800;
            text-transform: uppercase;
            color: white;
        }
    }
    
    // motifs
    .scrollto {
        position: relative;
    }
    
    #section-introduction {
        @include max-width ( 900 ) {
            margin-top: -10rem;
        }
        margin-top: -7rem;
    }
    #section-introduction:before{
         content: '';
        display: block;
        position: relative;
        width: 0;
        height: 5em;
        margin-top: -5em
    }
    #section-introduction:after {
        content: '';
        display: block;
        position: absolute;
        height: 800px;
        width: 100%;
        bottom: calc(15vw - 40rem);
        z-index: 0;
        background-image: url(../../img/mekong/Boats.svg);
        background-size: contain;
        background-repeat: no-repeat;
        opacity: .05;
        @include max-width ( 800 ) {
            background-size: 1200px;
        }
    }
    #section-the-forecast-for-fish:before {
        content: '';
        display: block;
        position: absolute;
        height: 800px;
        width: 100%;
        bottom: calc(15vw - 40rem);
        z-index: 0;
        background-image: url(../../img/mekong/Fish.svg);
        background-size: contain;
        background-repeat: no-repeat;
        opacity: .05;
        @include max-width ( 800 ) {
            background-size: 1200px;
        }
    }
    .element-slider_gallery5:before {
        content: '';
        display: block;
        position: absolute;
        height: 800px;
        width: 40%;
        top: -40rem;
        right: 0;
        z-index: 0;
        background-image: url(../../img/mekong/Rice.svg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: right;
        opacity: .05;
        @include max-width ( 800 ) {
            background-size: 800px;
            width: 100%;
        }
    }
    #section-optimal-hydropower-operations:before {
        content: '';
        display: block;
        position: absolute;
        height: 1000px;
        width: 100%;
        bottom: 10rem;
        z-index: 0;
        background-image: url(../../img/mekong/River.svg);
        background-size: cover;
        background-repeat: no-repeat;
        opacity: .05;
    }
    
    // element 
    
    .element-tonle-sap-and-the-mekong-rivers {
        ol {
            margin-top: .1rem;
            margin-left: -2rem;
        }
    }
    
    .element.element- { //river map
        max-width: 1200px;
        width: 100%;
        margin: 0;
        height: 100%;
        position: relative!important;
        @include min-width ( 1600 ) {
            width: 140%;
            margin-left: -40%;
        }
        min-height: inherit!important;
        .rsOverflow{
            min-height: inherit!important;
        }
    }
    
    .element-trey-riel {
        background: $text-very-lt;
        
        a.photo {
            display: block;
            overflow: hidden;
            height: 145px;
        }
        
        h3, p {
            padding: 0 2rem;
            margin-bottom: 0;
        }
        h3 {
            font-style: italic;
        }
        p {
            font-style: normal!important;
            color: $text!important;
        }
        h2.title {
            margin-left: 1rem!important;
            padding: .25rem 1rem 0 1rem;
            &:before, &:after {
                display: none;
            }
        }
        
        @include max-width ( 1020 ) {
            margin-right: 1rem;
        } 
        
        @include max-width ( 900 ) {
            margin: auto;
            padding-top: .5rem;
            padding-bottom: 1rem;
            margin-bottom: 2rem;
            h2,h3,p {
                max-width: 60%;
            }
            a.photo {
                width: 40%;
                float: right;
                margin-top: -.5rem;
                padding-top: 0;
            }
        }
        @include max-width ( 600 ) {
            max-width: 253px;
            h2,h3,p {
                max-width: none;
            }
            a.photo {
                width: 100%;
                float: none;
                img{
                    padding: 0;
                }
            }
        }
    }
    
    .element-content { //standard content sidebar
        .title {
            color: $accent;
            font-family: 'pt-serif-bold';
            font-size: 1.25rem!important;
            margin-bottom: 0!important;
            &:before, &:after {
                display: none;
            }
        }
        h3, p {
            margin-bottom: 0;
        }
        p, ol {
            font-style: italic;
            font-size: .9rem;
            color: #666;
        }
    }
    
    .element-slider_gallery { //slider galleries
        position: relative;
        margin-top: 0.5rem;
        min-height: 60vw;
        margin-bottom: 2rem;
        text-align: center;
        
        .rsOverflow {
            min-height: 60vw;
        }
        
        @include min-width ( 1600 ) {
            min-height: 20vw;
            .rsOverflow {
                min-height: 20vw;
            }
        }
        
        @include max-width ( 800 ) {
            margin-bottom: 4rem;
        }
        
        .rsArrow {
            display: block;
            .rsArrowIcn {
                background: none;
                height: 56px;
                width: 56px;
                color: white;
                &:hover {
                    background: $accent;
                    color: white;
                }
            }
            .rsArrowIcn:before {
                font-family: icomoon;
                speak: none;
                font-style: normal;
                font-size: 55px;
                font-weight: 400;
                font-variant: normal;
                text-transform: none;
                line-height: 1;
                -webkit-font-smoothing: antialiased;
                content: "\e028";
                padding-right: 4px;
            }
            &.rsArrowRight {
                float: right;
                transform: scaleX(-1);
                filter: FlipH;
                -ms-filter: "FlipH";
                right: 0px;
            }
        }
        
        .rsBullets {
            position: absolute;
            bottom: 0;
            bottom: 40px;
            width: 100%;
            background: none;
            height: 3rem;
            overflow: visible;
            
            .rsBullet {
                height: 2rem;
                width: 2rem;
                display: inline-block;
                
                span {
                    height: 1rem;
                    width: 1rem;
                    transition: all .1s ease;
                    @extend .shadow;
                }
                &:hover {
                    cursor: pointer;
                }
                &:hover, &.rsNavSelected {
                    span {
                        @include rem('width', 1.5);
                        @include rem('height', 1.5);
                        margin-top: -4px;
                        margin-left: -4px;
                    }
                }

            } // rsBullet

          } // .features-nav
        
        .caption-wrapper {
            width: 100%;
            position: absolute;
            display: table;
            text-align: center;
            background-color: white;
            bottom: 0px;
            padding-top: 5px;
        }
        
        .specialCaption {
            font-style: italic;
            color: #666;
            margin-top: 1rem;
            float: inherit;
            width: 100%;
            margin: 0 auto;
            max-width: 710px;
            font-size: 12px;
        }
        .rsGCaption {
            display: none;
        }
    }
    
    .big-element.element-slider_gallery {
        .photo {
            width: 100vw;
        }
    }
    
    .big-element.element-big_gallery {
        margin: inherit;
        display: grid;
        display: ms-grid;
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: repeat(4, 8vw);
        grid-gap: 20px;
        width: 100%;
        margin-top: 0rem;
        padding-bottom: 0;
        &:before {
            display: none;
        }
        .photo {
            width: 100%!important;
            img {
                position: relative!important;
                right: 0!important;
                top: 0!important;
                width: 100%!important;
                height: 100%!important;
                padding: 0!important;
                margin: 0!important;
                object-fit: cover;
                max-width: none!important; 
            }
        }
        a:nth-of-type(1) {
            grid-column-start: 1;
            /* autoprefixer: off */
            grid-column-end: 6;
            grid-row-start: 1;
            /* autoprefixer: off */
            grid-row-end: 5;
            @include max-width ( 800 ) {
                grid-column-end: 8;
            }
        }
        a:nth-of-type(2) {
            grid-column-start: 6;
            /* autoprefixer: off */
            grid-column-end: 8;
            grid-row-start: 1;
            /* autoprefixer: off */
            grid-row-end: 3;
        }
        a:nth-of-type(3) {
            grid-column-start: 6;
            /* autoprefixer: off */
            grid-column-end: 8;
            grid-row-start: 3;
            /* autoprefixer: off */
            grid-row-end: 5;
        }
        .gallery-caption {
            grid-column-start: 1;
            /* autoprefixer: off */
            grid-column-end: 8;
            margin-bottom: 0;
            max-width: 670px;
            margin: auto;
            padding-left: 0rem;
        }
        a:nth-of-type(2) img {
            right: 0!important;
        }
        a:nth-of-type(3) img {
            right: 0!important;
        }
        max-width: none;
        &:before {
            position: absolute;
            bottom: 1rem;
        }
    }

    
    //flourish
    
    .flourish-embed {
        max-width: 1200px;
        width: 140%;
        margin-left: -40%;
        @include max-width ( 900 ) {
            width: calc(100% + 4rem);
            margin-left: -2rem;
        }
    }
    
    //call-to-action
    
    .element-call_to_action {
        overflow: hidden;
        
        .cta-content {
            h2.title {
                font-family: 'PT Serif Bold', 'pt-serif-bold';
                margin-bottom: 1rem!important;
                &:before, &:after {
                    display: none;
                }
            }
            h2 + p {
                display: none;
            }
            &:before {
                content: '';
                display: block!important;
                position: absolute;
                top: -3rem;
                bottom:-3rem;
                left: -1rem;
                right: -1rem;
                background: rgba(0,0,0,.7); 
                z-index: -1;
            }
            .button {
                letter-spacing: 1px;
            }
        }
    }
    
    //footer
    #footer {
        padding-bottom: 0;
        background: $accent;
        text-align: center;
        .layout-container {
            max-width: 1200px;
            padding-bottom: 2rem;
        }
        .colleges-schools {
            position: relative;
            .environment > img {
                width: 370px;
            }
            .engineering img {
                width: 300px;
            }
            .public-health img {
                width: 300px;
            }
        }
        .environment, .engineering, .public-health {
            img {
                max-height: 20px;
                width: 100%;
                margin: 2rem 0;
                padding: 0 2rem;
            }
            position: relative;
            display: inline-block;
            &:after {
                content: '';
                display: inline-block;
                position: absolute;
                height: 30px;
                border-left: 1px solid white;
                transform: skewX(-15deg);
                top: calc(50% - 17px);
                right: 0rem;
                @include max-width ( 800 ) {
                    display: none;
                }
            }
        }
        a:last-of-type:after {
            display: none;
        }
    }

}
