/*	Template: strategic plan
		Customizations applied to content within the strategic-plan.php template
		======================================================================== */


 .page-template-strategic-plan {
    

    //right download widget
    #sp-toc {
        background: $bg-lt;
        border-top: solid 5px $accent-dk;
        float: right;
        margin: 0 0 1.5rem 1.5rem;
        padding: 1rem 1rem 0 1rem;
        width: 40%;

        @include max-width ( 1020 ) {
            width: 100%;
        } 

        a {
            color: #613ba9!important;
        }
        h2 {
            @include serif;
            padding: 0;
            margin: 0 0 1rem 0;
    
        }
        ul {
            padding: 0;
            margin: 0;
        }
        ul li {
            list-style-type: none;
            padding: 0.25rem;
        }
        h2:after {
            content: none;
        }
    } 
}